<template>
  <v-app id="inspire">
    <v-card
      style="border-radius: 0px; !important;"
      class="mx-auto overflow-hidden"
    >
      <v-app-bar
        :clipped-left="$vuetify.breakpoint.lgAndUp"
        app
        light
        color="white"
      >
        <v-app-bar-nav-icon
          @click.stop="drawer = !drawer"
          x-large
        ></v-app-bar-nav-icon>
        <v-toolbar-title
          class="overline"
          style="font-weight: bold !important; font-size: 16px !important"
          >AGROBIZZ</v-toolbar-title
        >
        <v-spacer></v-spacer>
      </v-app-bar>
    </v-card>

    <v-card outlined>
      <v-navigation-drawer
        v-model="drawer"
        :clipped="$vuetify.breakpoint.lgAndUp"
        app
      >
        <v-row justify="center">
          <v-col cols="11" md="11">
            <v-toolbar elevation="2" color="white" tile>
              <v-toolbar-title
                class="ml-2 overline"
                style="color: black !important; font-size: 0.75rem !important"
                >Welcome to Agrobizz</v-toolbar-title
              >
            </v-toolbar>
            <v-card tile>
              <v-row justify="center">
                <v-avatar size="180">
                  <img src="img/agrobizz_logo.png" />
                </v-avatar>
              </v-row>
            </v-card>
          </v-col>
        </v-row>

        <v-row justify="center">
          <v-col cols="11" md="11">
            <v-toolbar
              @click="redirectToHome()"
              elevation="2"
              color="white"
              tile
            >
              <v-icon>mdi-home-circle</v-icon>
              <v-toolbar-title
                class="ml-2 overline"
                style="font-size: 0.75rem !important"
                >My Home</v-toolbar-title
              >
            </v-toolbar>
          </v-col>

          <v-col cols="11" md="11">
            <v-toolbar
              @click="redirectAnalysis()"
              elevation="2"
              color="white"
              tile
            >
              <v-icon>mdi-ruler</v-icon>
              <v-toolbar-title
                class="ml-2 overline"
                style="font-size: 0.65rem !important"
                >Analysis</v-toolbar-title
              >
            </v-toolbar>
          </v-col>

          <v-col cols="11" md="11">
            <v-toolbar
              @click="redirectToLogin()"
              elevation="2"
              color="white"
              tile
            >
              <v-icon>mdi-login-variant</v-icon>
              <v-toolbar-title
                class="ml-2 overline"
                style="font-size: 0.75rem !important"
                >Sign in</v-toolbar-title
              >
            </v-toolbar>
          </v-col>
        </v-row>
      </v-navigation-drawer>
    </v-card>
    <v-main class="white">
      <v-container>
        <v-row>
          <v-col cols="12" md="12">
            <v-app-bar color="white" dense>
              <v-icon>mdi-checkbox-marked-circle</v-icon>&nbsp;&nbsp;
              <v-toolbar-title
                class="overline"
                style="font-weight: bold !important; font-size: 12px !important"
                >Proximity Analysis</v-toolbar-title
              >
              <v-spacer></v-spacer>
            </v-app-bar>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" md="12">
            <v-hover v-slot="{ hover }" open-delay="200">
              <v-card tile elevation="2" color="white" max-width="100%">
                <v-card-text class="overline font-weight-medium">
                  <v-row>
                    <v-col cols="12" md="10" sm="10" xs="10">
                      <GmapMap
                        :options="mapOptions"
                        :center="center"
                        :zoom="7"
                        style="
                          width: 100% !important;
                          height: 60vh;
                          max-height: 100%;
                        "
                        ref="mapDiv"
                        :clickable="true"
                      >

                        <GmapMarker
                          v-for="(item, key) in getAllFarmerDetails"
                          :key="'farmer' + key"
                          :icon="farmerIcon"
                          :position="getPosition(item, 'Benefiter')"
                          :clickable="true"
                          @click="
                            toggleInfoBenefiterMarker(item, key, 'Benefiter')
                          "
                        />
                        <GmapMarker
                          v-for="(item, key) in getAllCustomerDetails"
                          :key="'customer' + key"
                          :icon="customerIcon"
                          :position="getPosition(item, 'Benefiter')"
                          :clickable="true"
                          @click="
                            toggleInfoBenefiterMarker(item, key, 'Benefiter')
                          "
                        />
                        <GmapMarker
                          v-for="(item, key) in getAllTransporterDetails"
                          :key="'transport' + key"
                          :icon="transporterIcon"
                          :position="getPosition(item, 'Benefiter')"
                          :clickable="true"
                          @click="
                            toggleInfoBenefiterMarker(item, key, 'Benefiter')
                          "
                        />
                        <!-- <GmapInfoWindow></GmapInfoWindow> -->
                        <GmapInfoWindow
                          :options="infoOptions"
                          :position="infoPosition"
                          :opened="infoOpened"
                          :content="infoContent"
                          @closeclick="infoOpened = false"
                        ></GmapInfoWindow>
                      </GmapMap>
                    </v-col>
                    <v-col cols="12" md="2" sm="2" xs="2">
                      <v-expansion-panels v-model="panel2" multiple>
                        <v-expansion-panel>
                          <v-expansion-panel-header
                            class="overline"
                            style="
                              color: black !important;
                              font-weight: bold !important;
                              font-size: 12px !important;
                            "
                            >Layers</v-expansion-panel-header
                          >
                          <v-expansion-panel-content>
                            <v-row>
                              <v-col cols="12" md="12">
                                <v-checkbox
                                  v-model="farmerCheck"
                                  label="Farmers"
                                  color="green darken-4"
                                  hide-details
                                ></v-checkbox>
                                <v-checkbox
                                  v-model="customerCheck"
                                  label="Customers"
                                  color="green darken-4"
                                  hide-details
                                ></v-checkbox>
                                <v-checkbox
                                  v-model="transportCheck"
                                  label="Transport"
                                  color="green darken-4"
                                  hide-details
                                ></v-checkbox>
                              </v-col>
                            </v-row>
                          </v-expansion-panel-content>
                        </v-expansion-panel>
                      </v-expansion-panels>
                    </v-col>
                  </v-row>

                  <div class="mt-4 font-weight-bold title font-weight-light mb-2 overline">
                    <v-expansion-panels v-model="panel1" multiple>
                      <v-expansion-panel>
                        <v-expansion-panel-header
                          class="overline"
                          style=" color: black !important;font-weight: bold !important; font-size: 12px !important; ">Attribute selection</v-expansion-panel-header>
                        <v-expansion-panel-content>
                          <v-row>
                            <v-col cols="12" md="2">
                              <v-select solo dense class="overline" style="color: black !important" :items="itemsType" label="Select type"></v-select>
                            </v-col>
                            <v-col cols="12" md="2">
                              <v-select solo dense class="overline" style="color: black !important" :items="itemsCategory" label="category"></v-select>
                            </v-col>
                            <v-col cols="12" md="2">
                              <v-select solo dense class="overline" style="color: black !important" :items="itemsCrop" label="crop"></v-select>
                            </v-col>
                            <v-col cols="12" md="2">
                              <v-select solo dense class="overline" style="color: black !important" :items="itemsQuantity" label="quantity"></v-select>
                            </v-col>
                            <v-col cols="12" md="2">
                              <v-btn block  tile dark color="green darken-4"><v-icon>mdi-chart-arc</v-icon>&nbsp;Proceed </v-btn>
                            </v-col>
                            <v-col cols="12" md="2">
                              <v-btn block tile dark color="red darken-4"> <v-icon>mdi-delete-circle</v-icon>&nbsp;Clear</v-btn>
                            </v-col>
                          </v-row>
                        </v-expansion-panel-content>
                      </v-expansion-panel>
                    </v-expansion-panels>
                  </div>
                </v-card-text>
              </v-card>
            </v-hover>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import { store } from "./store/store";
import { mapState } from "vuex";
export default {
  name: "analysis",
  data() {
    return {
      farmerCheck: true,
      customerCheck: true,
      transportCheck: true,
      panel1: [0, 1],
      panel2: [0, 1],
      itemsType: ["Farmer", "Collector", "Transport"],
      itemsCategory: ["Vegetables", "Fruits", "Rice"],
      itemsCrop: ["Leaks", "Potato", "Beans"],
      itemsQuantity: ["10-50", "50-75", "75-100", "100 >"],
      drawer: null,
      loading: true,

      center: { lat: 7.927079, lng: 80.761244 },
      markers: [],
      places: [],
      currentPlace: null,
      farms: [],
      mapOptions: {
        zoomControl: true,
        mapTypeControl: false,
        streetViewControl: false,
        fullscreenControl: true,
        zoomControlOptions: {
          position: 7,
        },
        streetViewControlOptions: {
          position: 7,
        },
        mapTypeControlOptions: {
          position: 3,
        },
        fullscreenControlOptions: {
          position: 3,
        },
      },
      Map: undefined,
      farmerIcon: {
        url: "/img/marker/farmer.png",
      },
      farmerIconLarg:{
          url: "/img/marker/farmer.png",
      },
      customerIcon: {
        url: "/img/marker/customer.png",
      },
      transporterIcon: {
        url: "/img/marker/transport.png",
      },
      infoPosition: null,
      infoContent: null,
      infoOpened: false,
      infoCurrentKey: null,
      infoOptions: null,
    };
  },
  computed: {
    ...mapState({
      allFarmerDetails: (state) => state.allFarmerDetails,
      allCustomerDetails: (state) => state.allCustomerDetails,
      allTransporterDetails: (state) => state.allTransporterDetails,
      earlyCirclePoint: state => state.earlyCirclePoint,
    }),

    getAllFarmerDetails() {
      console.log("######## farmer #########", store.state.allFarmerDetails);
      return store.state.allFarmerDetails;
    },

    getAllCustomerDetails() {
      return store.state.allCustomerDetails;
    },

    getAllTransporterDetails() {
      return store.state.allTransporterDetails;
    },

    getAllEarlyCirclePoint(){
     return store.state.earlyCirclePoint;
    },
  },
  watch: {
    farmerCheck() {
      if (this.farmerCheck) {
        console.log("####### fcheck");
        this.getFarmerOnly();
        return store.state.allFarmerDetails;
      } else {
        console.log("####### fun check");
        store.state.allFarmerDetails = [];
        return store.state.allFarmerDetails;
      }
    },
    customerCheck() {
      if (this.customerCheck) {
        this.getCustomerOnly();
        return store.state.allCustomerDetails;
      } else {
        store.state.allCustomerDetails = [];
        return store.state.allCustomerDetails;
      }
    },

    transportCheck() {
      if (this.transportCheck) {
        this.getTransportOnly();
        return store.state.allTransporterDetails;
      } else {
        store.state.allTransporterDetails = [];
        return store.state.allTransporterDetails;
      }
    },

    getAllEarlyCirclePoint(){
     return store.state.earlyCirclePoint;
    },

    getAllFarmerDetails() {
      return store.state.allFarmerDetails;
    },

    getAllCustomerDetails() {
      return store.state.allCustomerDetails;
    },

    getAllTransporterDetails() {
      return store.state.allTransporterDetails;
    },
  },
  mounted() {

    this.$refs.mapDiv.$mapPromise.then((map) => {
    this.Map = map;
      this.init();
      console.log("Map page mounted");
    });
  },
  created() {
    this.getAllSystemUsersData();
    // console.log("craeted");
  },
  methods: {
    init() {
      this.farmerIcon = {
        url: "/img/marker/farmer.png",
        size: new google.maps.Size(40, 40),
        anchor: new google.maps.Point(9, 14),
        origin: new google.maps.Point(0, 0),
        scaledSize: new google.maps.Size(20, 20),
      };

      this.farmerIconLarg={
          url: "/img/marker/farmer.png",
        size: new google.maps.Size(40, 40),
        anchor: new google.maps.Point(9, 14),
        origin: new google.maps.Point(0, 0),
        scaledSize: new google.maps.Size(30, 30),
      };

      this.customerIcon = {
        url: "/img/marker/customer.png",
        size: new google.maps.Size(40, 40),
        anchor: new google.maps.Point(9, 14),
        origin: new google.maps.Point(0, 0),
        scaledSize: new google.maps.Size(20, 30),
      };

      this.transporterIcon = {
        url: "/img/marker/transport.png",
        size: new google.maps.Size(40, 40),
        anchor: new google.maps.Point(9, 14),
        origin: new google.maps.Point(0, 0),
        scaledSize: new google.maps.Size(20, 30),
      };

      let map = this.Map;
      let cityCircle;
      let marker1;
      let marker2;
      let marker3;
       map.addListener("click", (mapsMouseEvent) => {
        if (cityCircle && cityCircle.setMap) cityCircle.setMap(null);
        if (marker1 && marker1.setMap) marker1.setMap(null);
        if (marker2 && marker2.setMap) marker2.setMap(null);
        if (marker3 && marker3.setMap) marker3.setMap(null);
       cityCircle = new google.maps.Circle({
      strokeColor: "#FF0000",
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: "#FF0000",
      fillOpacity: 0.35,
      map,
      center: {lat: mapsMouseEvent.latLng.toJSON().lat, lng: mapsMouseEvent.latLng.toJSON().lng},
      radius: 5000,
    });
    marker1 = new google.maps.Marker({
    position: {lat: mapsMouseEvent.latLng.toJSON().lat, lng: mapsMouseEvent.latLng.toJSON().lng},
    map,
    title: "Sample Farmer",
    icon:this.farmerIconLarg,
  });
  marker2 = new google.maps.Marker({
    position: {lat: mapsMouseEvent.latLng.toJSON().lat-0.03, lng: mapsMouseEvent.latLng.toJSON().lng-0.03},
    map,
    title: "Sample Farmer",
    icon:this.farmerIconLarg,
  });
  marker3 = new google.maps.Marker({
    position: {lat: mapsMouseEvent.latLng.toJSON().lat+0.03, lng: mapsMouseEvent.latLng.toJSON().lng+0.03},
    map,
    title: "Sample Farmer",
    icon:this.farmerIconLarg,
  });
          map.setCenter({lat: mapsMouseEvent.latLng.toJSON().lat, lng: mapsMouseEvent.latLng.toJSON().lng});
          map.setZoom(10);
      });
    },

    getAllSystemUsersData() {
      //------getting headers from laravel csrf--------------------
      let laravel = JSON.parse(window.Laravel);
      const header = {
        "X-CSRF-TOKEN": laravel.csrfToken,
        "X-Requested-With": "XMLHttpRequest",
      };
      //-----------------calling to end point API------------------------
      axios
        .post("/api/users/get", header)
        .then((response) => {
          if (response.data.message == "success") {
            // let farms = response.data.data;
            console.log("Farms *********** ", response.data);
            store.commit("setAllFarmerDetails", response.data.farmer);
            store.commit("setAllCustomerDetails", response.data.customer);
            store.commit("setAllTransporterDetails", response.data.transporter);
            this.snackMessage = "All Users List Loading Successfuly!";
            this.snackColor = "green";
            this.snackTimeOut = 3000;
            this.snackbar = true;
            // console.log(this.projectItems);
          }
        })
        .catch((error) => {
          console.log({ error }); // this will log an empty object with an error property
          this.snackMessage = "Try again To Load All Farm List!";
          this.snackColor = "red";
          this.snackTimeOut = 10000;
          this.snackbar = true;
        });
    },

    getFarmerOnly() {
      //------getting headers from laravel csrf--------------------
      let laravel = JSON.parse(window.Laravel);
      const header = {
        "X-CSRF-TOKEN": laravel.csrfToken,
        "X-Requested-With": "XMLHttpRequest",
      };
      //-----------------calling to end point API------------------------
      axios
        .post("/api/users/get", header)
        .then((response) => {
          if (response.data.message == "success") {
            // let farms = response.data.data;
            console.log("Farms *********** ", response.data);
            store.commit("setAllFarmerDetails", response.data.farmer);
            this.snackMessage = "All Users List Loading Successfuly!";
            this.snackColor = "green";
            this.snackTimeOut = 3000;
            this.snackbar = true;
            // console.log(this.projectItems);
          }
        })
        .catch((error) => {
          console.log({ error }); // this will log an empty object with an error property
          this.snackMessage = "Try again To Load All Farm List!";
          this.snackColor = "red";
          this.snackTimeOut = 10000;
          this.snackbar = true;
        });
    },

    getCustomerOnly() {
      //------getting headers from laravel csrf--------------------
      let laravel = JSON.parse(window.Laravel);
      const header = {
        "X-CSRF-TOKEN": laravel.csrfToken,
        "X-Requested-With": "XMLHttpRequest",
      };
      //-----------------calling to end point API------------------------
      axios
        .post("/api/users/get", header)
        .then((response) => {
          if (response.data.message == "success") {
            // let farms = response.data.data;
            console.log("Farms *********** ", response.data);
            store.commit("setAllCustomerDetails", response.data.customer);
            this.snackMessage = "All Users List Loading Successfuly!";
            this.snackColor = "green";
            this.snackTimeOut = 3000;
            this.snackbar = true;
            // console.log(this.projectItems);
          }
        })
        .catch((error) => {
          console.log({ error }); // this will log an empty object with an error property
          this.snackMessage = "Try again To Load All Farm List!";
          this.snackColor = "red";
          this.snackTimeOut = 10000;
          this.snackbar = true;
        });
    },

    getTransportOnly() {
      //------getting headers from laravel csrf--------------------
      let laravel = JSON.parse(window.Laravel);
      const header = {
        "X-CSRF-TOKEN": laravel.csrfToken,
        "X-Requested-With": "XMLHttpRequest",
      };
      //-----------------calling to end point API------------------------
      axios
        .post("/api/users/get", header)
        .then((response) => {
          if (response.data.message == "success") {
            // let farms = response.data.data;
            console.log("Farms *********** ", response.data);
            store.commit("setAllTransporterDetails", response.data.transporter);
            this.snackMessage = "All Users List Loading Successfuly!";
            this.snackColor = "green";
            this.snackTimeOut = 3000;
            this.snackbar = true;
            // console.log(this.projectItems);
          }
        })
        .catch((error) => {
          console.log({ error }); // this will log an empty object with an error property
          this.snackMessage = "Try again To Load All Farm List!";
          this.snackColor = "red";
          this.snackTimeOut = 10000;
          this.snackbar = true;
        });
    },

    //=========================================================When user click on  marker=====================================================
    toggleInfoBenefiterMarker: function (marker, key, type) {
      this.infoPosition = this.getPosition(marker);
      console.log(marker);
      let contentString =
        '<div id="iw-container">\n\
                  <div class="iw-content">\n\
                    <b> Farmer Code - ' +
        marker.id +
        "</b>" +
        '<table  class="table" border="2" cellpadding="0" cellspacing="0" style="box-shadow:-1px -1px 1px #FFFFFF, 5px 5px 5px #f5f5f5;opacity: 10.5;font-family:Arial, Helvetica, sans-serif; font-size:12px;border:none;border-radius:15px;">' +
        '<tr  style="white-space: nowrap;">' +
        '<td  align=center  style="white-space: nowrap;width:90px;height:1px;background: linear-gradient(to right, #106b38 0%, #AADAFF 1000%);color:white;"><b>Name</b></td>' +
        '<td  style="width:160px;background: linear-gradient(to right, #106b38 2%, #AADAFF 430%);color:white;">' +
        marker.name +
        "</td>" +
        "</tr>" +
        '<tr style="white-space: nowrap;">' +
        '<td align=center  style="white-space: nowrap;width:90px;height:1px;background: linear-gradient(to right, #106b38 0%, #AADAFF 1000%);color:white;"><b>Mobile</b></td>' +
        '<td style="width:160px;background: linear-gradient(to right, #106b38 2%, #AADAFF 430%);color:white;">' +
        marker.tp +
        "</td>" +
        "</tr>" +
        '<tr  style="white-space: nowrap;">' +
        '<td  align=center  style="white-space: nowrap;width:90px;height:1px;background: linear-gradient(to right, #106b38 0%, #AADAFF 1000%);color:white;"><b>Address</b></td>' +
        '<td  style="width:160px;background: linear-gradient(to right, #106b38 2%, #AADAFF 430%);color:white;">' +
        marker.address +
        "</td>" +
        "</tr>" +
        '<tr style="white-space: nowrap;">' +
        '<td align=center  style="white-space: nowrap;width:90px;height:1px;background: linear-gradient(to right, #106b38 0%, #AADAFF 1000%);color:white;"><b>Email</b></td>' +
        '<td style="width:160px;background: linear-gradient(to right, #106b38 2%, #AADAFF 430%);color:white;">' +
        marker.email +
        "</td>" +
        "</tr>" +
        "</table>\n\
          </div></div>";

      this.infoOptions = {
        pixelOffset: {
          width: 0,
          height: -10,
        },
        content: contentString,
      };

      if (this.infoCurrentKey == key) {
        this.infoOpened = !this.infoOpened;
      } else {
        this.infoOpened = true;
        this.infoCurrentKey = key;
      }
    },

    //----------------------get position when lat lng givven----------------
    getPosition: function (marker, type) {
      return {
        lat: parseFloat(marker.lat),
        lng: parseFloat(marker.lng),
      };
    },

    // drawCircle() {

    //     let map = this.Map;
    //   map.addListener("click", (mapsMouseEvent) => {
    //    let cityCircle = new google.maps.Circle({
    //   strokeColor: "#FF0000",
    //   strokeOpacity: 0.8,
    //   strokeWeight: 2,
    //   fillColor: "#FF0000",
    //   fillOpacity: 0.35,
    //   map,
    //   center: {lat: mapsMouseEvent.latLng.toJSON().lat, lng: mapsMouseEvent.latLng.toJSON().lng},
    //   radius: 2000,
    // });
    //       map.setCenter({lat: mapsMouseEvent.latLng.toJSON().lat, lng: mapsMouseEvent.latLng.toJSON().lng});
    //       map.setZoom(10);
    //   });

    // },

    redirectToLogin() {
      window.location.href = "/apilogin";
    },
    redirectToHome() {
      window.location.href = "/";
    },
    redirectToCategory() {
      window.location.href = "/categorySelect";
    },
    redirectTofarmerRegistration() {
      window.location.href = "/farmerRegistration";
    },
    redirectAnalysis() {
      window.location.href = "/analysis";
    },
  },
};
</script>

<style scoped>
</style>
