<template>
    <div id="app">
        <v-app>
            <v-main>
                <v-container class="fill-height" fluid >
                    <v-row align="center" justify="center">
                        <v-col cols="12" sm="8" md="4">

                            <v-card  class="mx-auto rounded- align-center text-center" :elevation="hover ? 24 : 24" tile >
                            <v-row>
                                <v-col cols="12">
                                    <v-avatar size="200" >
                                        <img src="img/agrobizz_logo.png">
                                    </v-avatar>
                                </v-col>
                            </v-row>

                                <v-card-text >
                                    <v-form v-model="valid" ref="form" action="login" method="post">
                                        <v-text-field light  counter="100" clearable  label="Email" name="email" :rules="emailRules" v-model="email" append-icon="mdi-email" type="text"></v-text-field>
                                        <v-text-field color="gray darken-4" light counter="25" clearable id="password" label="Password" :value="password"  :rules="passwordRules"
                                              :append-icon="e1 ? 'mdi-eye' : 'mdi-eye-off'"
                                              @click:append="e1 = !e1" v-model="password" :type="e1 ? 'text' : 'password'"
                                              name="password"  ></v-text-field>
                                    </v-form><br>
                                    <v-row>
                                        <v-col  sm="6" md="6">
                                            <v-btn color="green darken-2"    block tile  class="white--text">Sign Me In <v-icon right dark>&nbsp;&nbsp;&nbsp;mdi-account-key</v-icon></v-btn>
                                        </v-col>
                                        <v-col  sm="6" md="6">
                                            <v-btn color="green darken-2"  @click="redirectToHome()"  block tile  class="white--text">Home<v-icon right dark>&nbsp;&nbsp;&nbsp;mdi-home-circle</v-icon></v-btn>
                                        </v-col>
                                    </v-row>
                                </v-card-text>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>

            </v-main>
        </v-app>
    </div>
</template>


<script>
    export default {
        name: "apilogin",
        data: () => {
            return {
                hover: true,
                valid: false,
                e1: false,
                password: '',
                passwordRules: [
                    v => v.length <= 25 || 'Max 25 characters',
                    (v) => !!v || 'Password is required',
                ],
                email: '',
                emailRules: [
                    v => v.length <= 100 || 'Max 100 characters',
                    (v) => !!v || 'E-mail is required',
                    (v) => /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,5})+$/.test(v) || 'E-mail must be valid'
                ],
            }
        },

        methods:{
            redirectToHome(){
                window.location.href = '/';
            },
        }
    }
</script>
