<template>
    <div id="app">
        <v-app>
            <v-main>
                <v-container class="fill-height" fluid >
                    <v-row align="center" justify="center">
                        <v-col cols="12" sm="8" md="4">

                            <v-card  class="mx-auto rounded- align-center text-center" :elevation="hover ? 24 : 24" tile >
                                <v-row>
                                    <v-col cols="12">
                                        <v-avatar size="200" >
                                            <img src="img/agrobizz_logo.png">
                                        </v-avatar>
                                    </v-col>
                                </v-row>

                                <v-divider></v-divider>
                                    <v-row justify="center">
                                        <v-col cols="11" md="11">
                                            <v-toolbar elevation="2" color="white" tile>
                                                <v-icon>mdi-account-circle</v-icon>
                                                <v-select class="ml-2 mt-5 overline" style="color:black !important;font-size: 0.75rem !important;font-weight: bold !important;" :items="items" label="Select category" ></v-select>
                                            </v-toolbar>
                                            <v-divider></v-divider>
                                        </v-col>

                                        <v-col cols="11" md="11">
                                            <v-toolbar @click="redirectTofarmerRegistration()" elevation="2" color="white" tile>
                                                <v-icon>mdi-account-circle</v-icon>
                                                <v-toolbar-title class="ml-2 overline" style="color:black !important;font-size: 0.75rem !important;">Sign in</v-toolbar-title>
                                            </v-toolbar>
                                            <v-divider></v-divider>
                                        </v-col>
                                    </v-row>
                                <v-divider></v-divider>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>

            </v-main>
        </v-app>
    </div>
</template>


<script>
    export default {
        name: "authSet",
        data: () => {
            return {
                items: ['Small farmer', 'Large farmer', 'Agent', 'Buyer','Collector','Retailer','Processor','Customer','Transportation'],
                hover: true,
                valid: false,
                e1: false,
                password: '',
                passwordRules: [
                    v => v.length <= 25 || 'Max 25 characters',
                    (v) => !!v || 'Password is required',
                ],
                email: '',
                emailRules: [
                    v => v.length <= 100 || 'Max 100 characters',
                    (v) => !!v || 'E-mail is required',
                    (v) => /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,5})+$/.test(v) || 'E-mail must be valid'
                ],
            }
        },

        methods:{
            redirectToLogin(){
                window.location.href = '/apilogin';
            },
            redirectToHome(){
                window.location.href = '/';
            },
            redirectToCategory(){
                window.location.href = '/categorySelect';
            },
            redirectTofarmerRegistration(){
                window.location.href = '/farmerRegistration';
            },
        }
    }
</script>
