<template>
    <v-app id="inspire">
        <v-card  style="border-radius: 0px; !important;" class="mx-auto overflow-hidden">
            <v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp" app  light color="white">
                <v-app-bar-nav-icon @click.stop="drawer = !drawer"  x-large></v-app-bar-nav-icon>
                <v-toolbar-title class="overline" style="font-weight: bold !important;font-size: 16px !important;">AGROBIZZ</v-toolbar-title>
                <v-spacer></v-spacer>
            </v-app-bar>
        </v-card>

        <v-card outlined >
            <v-navigation-drawer  v-model="drawer" :clipped="$vuetify.breakpoint.lgAndUp" app>
                <v-row justify="center">
                    <v-col cols="11" md="11">
                        <v-toolbar elevation="2" color="white" tile>
                            <v-toolbar-title class="ml-2 overline" style="color:black !important;font-size: 0.75rem !important;" >Welcome to Agrobizz</v-toolbar-title>
                        </v-toolbar>
                        <v-card tile>
                            <v-row justify="center">
                                <v-avatar size="180" >
                                    <img src="img/agrobizz_logo.png">
                                </v-avatar>
                            </v-row>
                        </v-card>
                    </v-col>
                </v-row>

                <v-row justify="center">
                    <v-col cols="11" md="11">
                        <v-toolbar @click="redirectToHome()" elevation="2" color="white" tile>
                            <v-icon>mdi-home-circle</v-icon>
                            <v-toolbar-title class="ml-2 overline" style="font-size: 0.75rem !important;">My Home</v-toolbar-title>
                        </v-toolbar>
                    </v-col>

                    <v-col cols="11" md="11">
                        <v-toolbar @click="redirectAnalysis()" elevation="2" color="white" tile>
                            <v-icon>mdi-ruler</v-icon>
                            <v-toolbar-title class="ml-2 overline" style="font-size: 0.65rem !important;">Analysis</v-toolbar-title>
                        </v-toolbar>
                    </v-col>

                    <v-col cols="11" md="11">
                        <v-toolbar @click="redirectToLogin()" elevation="2" color="white" tile>
                            <v-icon>mdi-login-variant</v-icon>
                            <v-toolbar-title class="ml-2 overline" style="font-size: 0.75rem !important;">Sign in</v-toolbar-title>
                        </v-toolbar>
                    </v-col>
                </v-row>
            </v-navigation-drawer>
        </v-card>
        <v-main class="white">
            <v-container>
                <v-row>
                    <v-col cols="12" md="12">
                        <v-app-bar color="white" dense >
                            <v-btn icon>
                                <v-icon>mdi-checkbox-marked-circle</v-icon>
                            </v-btn>
                            <v-toolbar-title class="overline" style="font-size: 12px !important;font-weight: bold !important;">Vegetable categories</v-toolbar-title>
                            <v-spacer></v-spacer>
                        </v-app-bar>
                    </v-col>
                </v-row>

                <v-row>
                    <v-col cols="12" md="3">
                        <v-hover v-slot="{ hover }"  open-delay="200">

                            <v-card @click="redirectToAvailableStock()" shaped class="mx-auto"    :elevation="hover ? 16 : 3" max-width="100%">
                                <v-img src="img/category/beet.jpg" height="200px"></v-img>
                                <v-card-text class="overline" style="font-size: 14px !important;">
                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon style="font-weight: bold !important;">mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            Beetroot
                                        </v-toolbar-title>
                                    </v-system-bar>

                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon>mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            බීට්රූට්
                                        </v-toolbar-title>
                                    </v-system-bar>

                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon>mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            பீட்ரூட்
                                        </v-toolbar-title>
                                    </v-system-bar>
                                </v-card-text>
                                <v-card-subtitle class="overline" style="font-weight: normal !important;font-size: 9px !important;">
                                    <v-badge  bordered color="error" content="02" overlap>
                                        <v-avatar size="30">
                                            <v-img src="img/agrobizz_logo.png"></v-img>
                                        </v-avatar>
                                    </v-badge> &nbsp;&nbsp;Available stocks
                                    <v-progress-linear color="green darken-2" height="2"  bottom indeterminate></v-progress-linear>
                                </v-card-subtitle>
                            </v-card>
                        </v-hover>
                    </v-col>

                    <v-col cols="12" md="3">
                        <v-hover v-slot="{ hover }" open-delay="200">
                            <v-card @click="redirectToAvailableStock()" shaped class="mx-auto" :elevation="hover ? 16 : 3" max-width="100%">
                                <v-img src="img/category/chilles.jpg" height="200px"></v-img>
                                <v-card-text class="overline" style="font-size: 14px !important;">
                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon style="font-weight: bold !important;">mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            Raw pepper
                                        </v-toolbar-title>
                                    </v-system-bar>

                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon>mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            මිරිස්
                                        </v-toolbar-title>
                                    </v-system-bar>

                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon>mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            மூல மிளகு
                                        </v-toolbar-title>
                                    </v-system-bar>
                                </v-card-text>
                                <v-card-subtitle class="overline" style="font-weight: normal !important;font-size: 9px !important;">
                                    <v-badge  bordered color="error" content="03" overlap>
                                        <v-avatar size="30">
                                            <v-img src="img/agrobizz_logo.png"></v-img>
                                        </v-avatar>
                                    </v-badge> &nbsp;&nbsp;Available stocks
                                    <v-progress-linear color="green darken-2" height="2"  bottom indeterminate></v-progress-linear>
                                </v-card-subtitle>
                            </v-card>
                        </v-hover>
                    </v-col>


                    <v-col cols="12" md="3">
                        <v-hover v-slot="{ hover }" open-delay="200">
                            <v-card @click="redirectToAvailableStock()" shaped class="mx-auto" :elevation="hover ? 16 : 3" max-width="100%">
                                <v-img src="img/category/bigOnions.jpg" height="200px"></v-img>
                                <v-card-text class="overline" style="font-size: 14px !important;">
                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon style="font-weight: bold !important;">mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            Big onions
                                        </v-toolbar-title>
                                    </v-system-bar>

                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon>mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            ලොකු ළූණු
                                        </v-toolbar-title>
                                    </v-system-bar>

                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon>mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            ெரிய வெங்காயம்
                                        </v-toolbar-title>
                                    </v-system-bar>
                                </v-card-text>
                                <v-card-subtitle class="overline" style="font-weight: normal !important;font-size: 9px !important;">
                                    <v-badge  bordered color="error" content="18" overlap>
                                        <v-avatar size="30">
                                            <v-img src="img/agrobizz_logo.png"></v-img>
                                        </v-avatar>
                                    </v-badge> &nbsp;&nbsp;Available stocks
                                    <v-progress-linear color="green darken-2" height="2"  bottom indeterminate></v-progress-linear>
                                </v-card-subtitle>
                            </v-card>
                        </v-hover>
                    </v-col>

                    <v-col cols="12" md="3">
                        <v-hover v-slot="{ hover }" open-delay="200">
                            <v-card @click="redirectToAvailableStock()" shaped class="mx-auto" :elevation="hover ? 16 : 3" max-width="100%">
                                <v-img src="img/category/redOnions.jpg" height="200px"></v-img>
                                <v-card-text class="overline" style="font-size: 14px !important;">
                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon style="font-weight: bold !important;">mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            Red onions
                                        </v-toolbar-title>
                                    </v-system-bar>

                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon>mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            රතු ළූණු
                                        </v-toolbar-title>
                                    </v-system-bar>

                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon>mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            சிவப்பு வெங்காயம்
                                        </v-toolbar-title>
                                    </v-system-bar>
                                </v-card-text>
                                <v-card-subtitle class="overline" style="font-weight: normal !important;font-size: 9px !important;">
                                    <v-badge  bordered color="error" content="14" overlap>
                                        <v-avatar size="30">
                                            <v-img src="img/agrobizz_logo.png"></v-img>
                                        </v-avatar>
                                    </v-badge> &nbsp;&nbsp;Available stocks
                                    <v-progress-linear color="green darken-2" height="2"  bottom indeterminate></v-progress-linear>
                                </v-card-subtitle>
                            </v-card>
                        </v-hover>
                    </v-col>
                </v-row>






                <v-row>
                    <v-col cols="12" md="3">
                        <v-hover v-slot="{ hover }" open-delay="200">
                            <v-card @click="redirectToAvailableStock()" shaped class="mx-auto" :elevation="hover ? 16 : 3" max-width="100%">
                                <v-img src="img/category/gerkhins.jpg" height="200px"></v-img>
                                <v-card-text class="overline" style="font-size: 14px !important;">
                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon style="font-weight: bold !important;">mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            Gerkhins
                                        </v-toolbar-title>
                                    </v-system-bar>

                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon>mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            ගර්කින්ස්
                                        </v-toolbar-title>
                                    </v-system-bar>

                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon>mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            கெர்கின்ஸ்
                                        </v-toolbar-title>
                                    </v-system-bar>
                                </v-card-text>
                                <v-card-subtitle class="overline" style="font-weight: normal !important;font-size: 9px !important;">
                                    <v-badge  bordered color="error" content="09" overlap>
                                        <v-avatar size="30">
                                            <v-img src="img/agrobizz_logo.png"></v-img>
                                        </v-avatar>
                                    </v-badge> &nbsp;&nbsp;Available stocks
                                    <v-progress-linear color="green darken-2" height="2"  bottom indeterminate></v-progress-linear>
                                </v-card-subtitle>
                            </v-card>
                        </v-hover>
                    </v-col>

                    <v-col cols="12" md="3">
                        <v-hover v-slot="{ hover }" open-delay="200">
                            <v-card @click="redirectToAvailableStock()" shaped class="mx-auto" :elevation="hover ? 16 : 3" max-width="100%">
                                <v-img src="img/category/wingedBeans.jpg" height="200px"></v-img>
                                <v-card-text class="overline" style="font-size: 14px !important;">
                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon style="font-weight: bold !important;">mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            Winged beans
                                        </v-toolbar-title>
                                    </v-system-bar>

                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon>mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            දඹල
                                        </v-toolbar-title>
                                    </v-system-bar>

                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon>mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            தம்பலா
                                        </v-toolbar-title>
                                    </v-system-bar>
                                </v-card-text>
                                <v-card-subtitle class="overline" style="font-weight: normal !important;font-size: 9px !important;">
                                    <v-badge  bordered color="error" content="02" overlap>
                                        <v-avatar size="30">
                                            <v-img src="img/agrobizz_logo.png"></v-img>
                                        </v-avatar>
                                    </v-badge> &nbsp;&nbsp;Available stocks
                                    <v-progress-linear color="green darken-2" height="2"  bottom indeterminate></v-progress-linear>
                                </v-card-subtitle>
                            </v-card>
                        </v-hover>
                    </v-col>

                    <v-col cols="12" md="3">
                        <v-hover v-slot="{ hover }" open-delay="200">
                            <v-card @click="redirectToAvailableStock()" shaped class="mx-auto" :elevation="hover ? 16 : 3" max-width="100%">
                                <v-img src="img/category/carrot.jpg" height="200px"></v-img>
                                <v-card-text class="overline" style="font-size: 14px !important;">
                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon style="font-weight: bold !important;">mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            Carrot
                                        </v-toolbar-title>
                                    </v-system-bar>

                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon>mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            කැරට්
                                        </v-toolbar-title>
                                    </v-system-bar>

                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon>mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            கேரட்
                                        </v-toolbar-title>
                                    </v-system-bar>
                                </v-card-text>
                                <v-card-subtitle class="overline" style="font-weight: normal !important;font-size: 9px !important;">
                                    <v-badge  bordered color="error" content="12" overlap>
                                        <v-avatar size="30">
                                            <v-img src="img/agrobizz_logo.png"></v-img>
                                        </v-avatar>
                                    </v-badge> &nbsp;&nbsp;Available stocks
                                    <v-progress-linear color="green darken-2" height="2"  bottom indeterminate></v-progress-linear>
                                </v-card-subtitle>
                            </v-card>
                        </v-hover>
                    </v-col>

                    <v-col cols="12" md="3">
                        <v-hover v-slot="{ hover }" open-delay="200">
                            <v-card @click="redirectToAvailableStock()" shaped class="mx-auto" :elevation="hover ? 16 : 3" max-width="100%">
                                <v-img src="img/category/pumpkin.jpg" height="200px"></v-img>
                                <v-card-text class="overline" style="font-size: 14px !important;">
                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon style="font-weight: bold !important;">mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            Pumpkin
                                        </v-toolbar-title>
                                    </v-system-bar>

                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon>mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            වට්ටක්කා
                                        </v-toolbar-title>
                                    </v-system-bar>

                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon>mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            பூசணி
                                        </v-toolbar-title>
                                    </v-system-bar>
                                </v-card-text>
                                <v-card-subtitle class="overline" style="font-weight: normal !important;font-size: 9px !important;">
                                    <v-badge  bordered color="error" content="18" overlap>
                                        <v-avatar size="30">
                                            <v-img src="img/agrobizz_logo.png"></v-img>
                                        </v-avatar>
                                    </v-badge> &nbsp;&nbsp;Available stocks
                                    <v-progress-linear color="green darken-2" height="2"  bottom indeterminate></v-progress-linear>
                                </v-card-subtitle>
                            </v-card>
                        </v-hover>
                    </v-col>
                </v-row>







                <v-row>
                    <v-col cols="12" md="3">
                        <v-hover v-slot="{ hover }" open-delay="200">
                            <v-card  @click="redirectToAvailableStock()" shaped class="mx-auto" :elevation="hover ? 16 : 3" max-width="100%">
                                <v-img src="img/category/brinjol.jpg" height="200px"></v-img>
                                <v-card-text class="overline" style="font-size: 14px !important;">
                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon style="font-weight: bold !important;">mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            Brinjal
                                        </v-toolbar-title>
                                    </v-system-bar>

                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon>mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            වම්බටු
                                        </v-toolbar-title>
                                    </v-system-bar>

                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon>mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            கத்திரிக்காய்
                                        </v-toolbar-title>
                                    </v-system-bar>
                                </v-card-text>
                                <v-card-subtitle class="overline" style="font-weight: normal !important;font-size: 9px !important;">
                                    <v-badge  bordered color="error" content="01" overlap>
                                        <v-avatar size="30">
                                            <v-img src="img/agrobizz_logo.png"></v-img>
                                        </v-avatar>
                                    </v-badge> &nbsp;&nbsp;Available stocks
                                    <v-progress-linear color="green darken-2" height="2"  bottom indeterminate></v-progress-linear>
                                </v-card-subtitle>
                            </v-card>
                        </v-hover>
                    </v-col>

                    <v-col cols="12" md="3">
                        <v-hover v-slot="{ hover }" open-delay="200">
                            <v-card @click="redirectToAvailableStock()" shaped class="mx-auto" :elevation="hover ? 16 : 3" max-width="100%">
                                <v-img src="img/category/tomato.jpeg" height="200px"></v-img>
                                <v-card-text class="overline" style="font-size: 14px !important;">
                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon style="font-weight: bold !important;">mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            Tomato
                                        </v-toolbar-title>
                                    </v-system-bar>

                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon>mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            තක්කාලි
                                        </v-toolbar-title>
                                    </v-system-bar>

                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon>mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            தக்காளி
                                        </v-toolbar-title>
                                    </v-system-bar>
                                </v-card-text>
                                <v-card-subtitle class="overline" style="font-weight: normal !important;font-size: 9px !important;">
                                    <v-badge  bordered color="error" content="04" overlap>
                                        <v-avatar size="30">
                                            <v-img src="img/agrobizz_logo.png"></v-img>
                                        </v-avatar>
                                    </v-badge> &nbsp;&nbsp;Available stocks
                                    <v-progress-linear color="green darken-2" height="2"  bottom indeterminate></v-progress-linear>
                                </v-card-subtitle>
                            </v-card>
                        </v-hover>
                    </v-col>

                    <v-col cols="12" md="3">
                        <v-hover v-slot="{ hover }" open-delay="200">
                            <v-card  @click="redirectToAvailableStock()" shaped class="mx-auto" :elevation="hover ? 16 : 3" max-width="100%">
                                <v-img src="img/category/cabbage.jpg" height="200px"></v-img>
                                <v-card-text class="overline" style="font-size: 14px !important;">
                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon style="font-weight: bold !important;">mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            Cabbage
                                        </v-toolbar-title>
                                    </v-system-bar>

                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon>mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            ගෝවා
                                        </v-toolbar-title>
                                    </v-system-bar>

                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon>mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            முட்டைக்கோஸ்
                                        </v-toolbar-title>
                                    </v-system-bar>
                                </v-card-text>
                                <v-card-subtitle class="overline" style="font-weight: normal !important;font-size: 9px !important;">
                                    <v-badge  bordered color="error" content="05" overlap>
                                        <v-avatar size="30">
                                            <v-img src="img/agrobizz_logo.png"></v-img>
                                        </v-avatar>
                                    </v-badge> &nbsp;&nbsp;Available stocks
                                    <v-progress-linear color="green darken-2" height="2"  bottom indeterminate></v-progress-linear>
                                </v-card-subtitle>
                            </v-card>
                        </v-hover>
                    </v-col>

                    <v-col cols="12" md="3">
                        <v-hover v-slot="{ hover }" open-delay="200">
                            <v-card @click="redirectToAvailableStock()" shaped class="mx-auto" :elevation="hover ? 16 : 3" max-width="100%">
                                <v-img src="img/category/Green-beans.jpg" height="200px"></v-img>
                                <v-card-text class="overline" style="font-size: 14px !important;">
                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon style="font-weight: bold !important;">mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            Beans
                                        </v-toolbar-title>
                                    </v-system-bar>

                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon>mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            බෝංචි
                                        </v-toolbar-title>
                                    </v-system-bar>

                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon>mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            பீன்ஸ்
                                        </v-toolbar-title>
                                    </v-system-bar>
                                </v-card-text>
                                <v-card-subtitle class="overline" style="font-weight: normal !important;font-size: 9px !important;">
                                    <v-badge  bordered color="error" content="02" overlap>
                                        <v-avatar size="30">
                                            <v-img src="img/agrobizz_logo.png"></v-img>
                                        </v-avatar>
                                    </v-badge> &nbsp;&nbsp;Available stocks
                                    <v-progress-linear color="green darken-2" height="2"  bottom indeterminate></v-progress-linear>
                                </v-card-subtitle>
                            </v-card>
                        </v-hover>
                    </v-col>
                </v-row>
            </v-container>
        </v-main>
    </v-app>
</template>

<script>
    export default {
        name: "categorySelect",
        data: () => {
            return {
                drawer: null,
                loading: true,
            }
        },
        methods: {
            redirectToRegistration(){
                window.location.href = '/Registration';
            },
            redirectToLogin(){
                window.location.href = '/apilogin';
            },
            redirectToHome(){
                window.location.href = '/';
            },
            redirectToAuth(){
                window.location.href = '/authSet';
            },
            redirectTofarmerRegistration(){
                window.location.href = '/farmerRegistration';
            },
            redirectToAvailableStock(){
                window.location.href = '/availableStockDetails';
            },
            redirectAnalysis(){
                window.location.href = '/analysis';
            }
        },
    }
</script>

<style scoped>

</style>
