<template>
    <v-app id="inspire">
        <v-card  style="border-radius: 0px; !important;" class="mx-auto overflow-hidden">
            <v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp" app  light color="white">
                <v-app-bar-nav-icon @click.stop="drawer = !drawer"  x-large></v-app-bar-nav-icon>
                <v-toolbar-title class="overline" style="font-weight: bold !important;font-size: 16px !important;">AGROBIZZ</v-toolbar-title>
                <v-spacer></v-spacer>
            </v-app-bar>
        </v-card>

        <v-card outlined >
            <v-navigation-drawer  v-model="drawer" :clipped="$vuetify.breakpoint.lgAndUp" app>
                <v-row justify="center">
                    <v-col cols="11" md="11">
                        <v-toolbar elevation="2" color="white" tile>
                            <v-toolbar-title class="ml-2 overline" style="color:black !important;font-size: 0.75rem !important;" >Welcome to Agrobizz</v-toolbar-title>
                        </v-toolbar>
                        <v-card tile>
                            <v-row justify="center">
                                <v-avatar size="180" >
                                    <img src="img/agrobizz_logo.png">
                                </v-avatar>
                            </v-row>
                        </v-card>
                    </v-col>
                </v-row>

                <v-row justify="center">
                    <v-col cols="11" md="11">
                        <v-toolbar @click="redirectToHome()" elevation="2" color="white" tile>
                            <v-icon>mdi-home-circle</v-icon>
                            <v-toolbar-title class="ml-2 overline" style="font-size: 0.65rem !important;">My Home</v-toolbar-title>
                        </v-toolbar>
                    </v-col>

                    <v-col cols="11" md="11">
                        <v-toolbar @click="redirectAnalysis()" elevation="2" color="white" tile>
                            <v-icon>mdi-ruler</v-icon>
                            <v-toolbar-title class="ml-2 overline" style="font-size: 0.65rem !important;">Analysis</v-toolbar-title>
                        </v-toolbar>
                    </v-col>

                    <v-col cols="11" md="11">
                        <v-toolbar @click="redirectToLogin()" elevation="2" color="white" tile>
                            <v-icon>mdi-login-variant</v-icon>
                            <v-toolbar-title class="ml-2 overline" style="font-size: 0.65rem !important;">Sign in</v-toolbar-title>
                        </v-toolbar>
                    </v-col>
                </v-row>
            </v-navigation-drawer>
        </v-card>
        <v-main class="white">
            <v-container>
                <v-row>
                    <v-col cols="12" md="12">
                        <v-app-bar color="white" dense >
                            <v-btn icon>
                                <v-icon>mdi-checkbox-marked-circle</v-icon>
                            </v-btn>
                            <v-toolbar-title class="overline" style="font-weight: bold !important;font-size: 12px !important;">Select the category</v-toolbar-title>
                            <v-spacer></v-spacer>
                        </v-app-bar>
                    </v-col>
                </v-row>

                <v-row>
                    <v-col cols="12" md="3">
                        <v-hover v-slot="{ hover }"  open-delay="200">

                            <v-card @click="redirectToriceCategory()" shaped class="mx-auto"  :elevation="hover ? 16 : 3" max-width="100%">

                            <v-img src="img/rice.jpg" height="200px"></v-img>
                            <v-card-text class="overline" style="font-size: 14px !important;">
                                <v-system-bar solo dense elevation="2" color="white" tile >
                                    <v-icon style="font-weight: bold !important;">mdi-format-line-spacing</v-icon>
                                    <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                        Rice
                                    </v-toolbar-title>
                                </v-system-bar>

                                <v-system-bar solo dense elevation="2" color="white" tile >
                                    <v-icon>mdi-format-line-spacing</v-icon>
                                    <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                        සහල්
                                    </v-toolbar-title>
                                </v-system-bar>

                                <v-system-bar solo dense elevation="2" color="white" tile >
                                    <v-icon>mdi-format-line-spacing</v-icon>
                                    <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                        அரிசி
                                    </v-toolbar-title>
                                </v-system-bar>
                            </v-card-text>

                            <v-card-subtitle class="overline" style="color:black !important;font-weight: normal !important;font-size: 9px !important;">
                                <v-badge  bordered color="error" content="56" overlap>
                                    <v-avatar size="30">
                                        <v-img src="img/agrobizz_logo.png"></v-img>
                                    </v-avatar>
                                </v-badge> &nbsp;&nbsp;sub categories available
                             <v-progress-linear color="green darken-2" height="2"  bottom indeterminate></v-progress-linear>
                            </v-card-subtitle>
                            </v-card>
                        </v-hover>
                    </v-col>

                    <v-col cols="12" md="3">
                        <v-hover v-slot="{ hover }" open-delay="200">
                            <v-card @click="redirectToCategory()" shaped class="mx-auto" :elevation="hover ? 16 : 3" max-width="100%">
                            <v-img src="img/vegitables2.jpg" height="200px"></v-img>
                            <v-card-text class="overline" style="font-size: 14px !important;">
                                <v-system-bar solo dense elevation="2" color="white" tile >
                                    <v-icon style="font-weight: bold !important;">mdi-format-line-spacing</v-icon>
                                    <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                        Vegitables
                                    </v-toolbar-title>
                                </v-system-bar>

                                <v-system-bar solo dense elevation="2" color="white" tile >
                                    <v-icon>mdi-format-line-spacing</v-icon>
                                    <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                        එළවළු වර්ග
                                    </v-toolbar-title>
                                </v-system-bar>

                                <v-system-bar solo dense elevation="2" color="white" tile >
                                    <v-icon>mdi-format-line-spacing</v-icon>
                                    <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                        காய்கறிகள்
                                    </v-toolbar-title>
                                </v-system-bar>
                            </v-card-text>
                            <v-card-subtitle class="overline" style="color:black !important;font-weight: normal !important;font-size: 9px !important;">
                                <v-badge  bordered color="error" content="120" overlap>
                                    <v-avatar size="30">
                                        <v-img src="img/agrobizz_logo.png"></v-img>
                                    </v-avatar>
                                </v-badge> &nbsp;&nbsp;sub categories available
                                <v-progress-linear color="green darken-2" height="2"  bottom indeterminate></v-progress-linear>
                            </v-card-subtitle>
                        </v-card>
                        </v-hover>
                    </v-col>


                    <v-col cols="12" md="3">
                        <v-hover v-slot="{ hover }" open-delay="200">
                            <v-card @click="redirectToCategory()" shaped class="mx-auto" :elevation="hover ? 16 : 3" max-width="100%">
                            <v-img src="img/fruits.jpg" height="200px"></v-img>
                            <v-card-text class="overline" style="font-size: 14px !important;">
                                <v-system-bar solo dense elevation="2" color="white" tile >
                                    <v-icon style="font-weight: bold !important;">mdi-format-line-spacing</v-icon>
                                    <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                        Fruits
                                    </v-toolbar-title>
                                </v-system-bar>

                                <v-system-bar solo dense elevation="2" color="white" tile >
                                    <v-icon>mdi-format-line-spacing</v-icon>
                                    <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                        පළතුරු වර්ග
                                    </v-toolbar-title>
                                </v-system-bar>

                                <v-system-bar solo dense elevation="2" color="white" tile >
                                    <v-icon>mdi-format-line-spacing</v-icon>
                                    <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                        பழங்கள்
                                    </v-toolbar-title>
                                </v-system-bar>
                            </v-card-text>
                            <v-card-subtitle class="overline" style="color:black !important;font-weight: normal !important;font-size: 9px !important;">
                                <v-badge  bordered color="error" content="42" overlap>
                                    <v-avatar size="30">
                                        <v-img src="img/agrobizz_logo.png"></v-img>
                                    </v-avatar>
                                </v-badge> &nbsp;&nbsp;sub categories available
                                <v-progress-linear color="green darken-2" height="2"  bottom indeterminate></v-progress-linear>
                            </v-card-subtitle>
                        </v-card>
                        </v-hover>
                    </v-col>

                    <v-col cols="12" md="3">
                        <v-hover v-slot="{ hover }" open-delay="200">
                            <v-card @click="redirectToCategory()" shaped class="mx-auto" :elevation="hover ? 16 : 3" max-width="100%">
                            <v-img src="img/spices.jpg" height="200px"></v-img>
                            <v-card-text class="overline" style="font-size: 14px !important;">
                                <v-system-bar solo dense elevation="2" color="white" tile >
                                    <v-icon style="font-weight: bold !important;">mdi-format-line-spacing</v-icon>
                                    <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                        Spices
                                    </v-toolbar-title>
                                </v-system-bar>

                                <v-system-bar solo dense elevation="2" color="white" tile >
                                    <v-icon>mdi-format-line-spacing</v-icon>
                                    <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                        කුළුබඩු නිෂ්පාදන
                                    </v-toolbar-title>
                                </v-system-bar>

                                <v-system-bar solo dense elevation="2" color="white" tile >
                                    <v-icon>mdi-format-line-spacing</v-icon>
                                    <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                        மசாலா பொருட்கள்
                                    </v-toolbar-title>
                                </v-system-bar>
                            </v-card-text>
                                <v-card-subtitle class="overline" style="color:black !important;font-weight: normal !important;font-size: 9px !important;">
                                <v-badge  bordered color="error" content="35" overlap>
                                    <v-avatar size="30">
                                        <v-img src="img/agrobizz_logo.png"></v-img>
                                    </v-avatar>
                                </v-badge> &nbsp;&nbsp;sub categories available
                                <v-progress-linear color="green darken-2" height="2"  bottom indeterminate></v-progress-linear>
                            </v-card-subtitle>
                        </v-card>
                        </v-hover>
                    </v-col>
                </v-row>






                <v-row>
                    <v-col cols="12" md="3">
                        <v-hover v-slot="{ hover }" open-delay="200">
                            <v-card @click="redirectToCategory()" shaped class="mx-auto" :elevation="hover ? 16 : 3" max-width="100%">
                            <v-img src="img/medical.jpg" height="200px"></v-img>
                            <v-card-text class="overline" style="font-size: 14px !important;">
                                <v-system-bar solo dense elevation="2" color="white" tile >
                                    <v-icon style="font-weight: bold !important;">mdi-format-line-spacing</v-icon>
                                    <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                        Medicinal
                                    </v-toolbar-title>
                                </v-system-bar>

                                <v-system-bar solo dense elevation="2" color="white" tile >
                                    <v-icon>mdi-format-line-spacing</v-icon>
                                    <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                        ඖෂධ වර්ග
                                    </v-toolbar-title>
                                </v-system-bar>

                                <v-system-bar solo dense elevation="2" color="white" tile >
                                    <v-icon>mdi-format-line-spacing</v-icon>
                                    <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                        மருந்துகள்
                                    </v-toolbar-title>
                                </v-system-bar>
                            </v-card-text>

                            <v-card-subtitle class="overline" style="color:black !important;font-weight: normal !important;font-size: 9px !important;">
                                <v-badge  bordered color="error" content="67" overlap>
                                    <v-avatar size="30">
                                        <v-img src="img/agrobizz_logo.png"></v-img>
                                    </v-avatar>
                                </v-badge> &nbsp;&nbsp;sub categories available
                                <v-progress-linear color="green darken-2" height="2"  bottom indeterminate></v-progress-linear>
                            </v-card-subtitle>
                        </v-card>
                        </v-hover>
                    </v-col>

                    <v-col cols="12" md="3">
                        <v-hover v-slot="{ hover }" open-delay="200">
                            <v-card @click="redirectToCategory()" shaped class="mx-auto" :elevation="hover ? 16 : 3" max-width="100%">
                            <v-img src="img/plantation.jpg" height="200px"></v-img>
                            <v-card-text class="overline" style="font-size: 14px !important;">
                                <v-system-bar solo dense elevation="2" color="white" tile >
                                    <v-icon style="font-weight: bold !important;">mdi-format-line-spacing</v-icon>
                                    <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                        Plantations crops
                                    </v-toolbar-title>
                                </v-system-bar>

                                <v-system-bar solo dense elevation="2" color="white" tile >
                                    <v-icon>mdi-format-line-spacing</v-icon>
                                    <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                        වැවිලි බෝග
                                    </v-toolbar-title>
                                </v-system-bar>

                                <v-system-bar solo dense elevation="2" color="white" tile >
                                    <v-icon>mdi-format-line-spacing</v-icon>
                                    <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                        தோட்ட பயிர்கள்
                                    </v-toolbar-title>
                                </v-system-bar>
                            </v-card-text>

                            <v-card-subtitle class="overline" style="color:black !important;font-weight: normal !important;font-size: 9px !important;">
                                <v-badge  bordered color="error" content="21" overlap>
                                    <v-avatar size="30">
                                        <v-img src="img/agrobizz_logo.png"></v-img>
                                    </v-avatar>
                                </v-badge> &nbsp;&nbsp;sub categories available
                                <v-progress-linear color="green darken-2" height="2"  bottom indeterminate></v-progress-linear>
                            </v-card-subtitle>
                        </v-card>
                        </v-hover>
                    </v-col>

                    <v-col cols="12" md="3">
                        <v-hover v-slot="{ hover }" open-delay="200">
                            <v-card @click="redirectToCategory()" shaped class="mx-auto" :elevation="hover ? 16 : 3" max-width="100%">
                            <v-img src="img/proceeds.jpg" height="200px"></v-img>
                            <v-card-text class="overline" style="font-size: 14px !important;">
                                <v-system-bar solo dense elevation="2" color="white" tile >
                                    <v-icon style="font-weight: bold !important;">mdi-format-line-spacing</v-icon>
                                    <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                        Processed foods
                                    </v-toolbar-title>
                                </v-system-bar>

                                <v-system-bar solo dense elevation="2" color="white" tile >
                                    <v-icon>mdi-format-line-spacing</v-icon>
                                    <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                        සැකසූ ආහාර
                                    </v-toolbar-title>
                                </v-system-bar>

                                <v-system-bar solo dense elevation="2" color="white" tile >
                                    <v-icon>mdi-format-line-spacing</v-icon>
                                    <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                        பதப்படுத்தப்பட்ட
                                    </v-toolbar-title>
                                </v-system-bar>
                            </v-card-text>
                            <v-card-subtitle class="overline" style="color:black !important;font-weight: normal !important;font-size: 9px !important;">
                                <v-badge  bordered color="error" content="12" overlap>
                                    <v-avatar size="30">
                                        <v-img src="img/agrobizz_logo.png"></v-img>
                                    </v-avatar>
                                </v-badge> &nbsp;&nbsp;sub categories available
                                <v-progress-linear color="green darken-2" height="2"  bottom indeterminate></v-progress-linear>
                            </v-card-subtitle>
                        </v-card>
                        </v-hover>
                    </v-col>

                    <v-col cols="12" md="3">
                        <v-hover v-slot="{ hover }" open-delay="200">
                            <v-card @click="redirectToCategory()" shaped class="mx-auto" :elevation="hover ? 16 : 3" max-width="100%">
                            <v-img src="img/dairy.jpg" height="200px"></v-img>
                            <v-card-text class="overline" style="font-size: 14px !important;">
                                <v-system-bar solo dense elevation="2" color="white" tile >
                                    <v-icon style="font-weight: bold !important;">mdi-format-line-spacing</v-icon>
                                    <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                        Dairy foods
                                    </v-toolbar-title>
                                </v-system-bar>

                                <v-system-bar solo dense elevation="2" color="white" tile >
                                    <v-icon>mdi-format-line-spacing</v-icon>
                                    <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                        කිරි ආශ්‍රිත නිෂ්පාදන
                                    </v-toolbar-title>
                                </v-system-bar>

                                <v-system-bar solo dense elevation="2" color="white" tile >
                                    <v-icon>mdi-format-line-spacing</v-icon>
                                    <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                        பால் தொடர்பானது
                                    </v-toolbar-title>
                                </v-system-bar>
                            </v-card-text>
                            <v-card-subtitle class="overline" style="color:black !important;font-weight: normal !important;font-size: 9px !important;">
                                <v-badge  bordered color="error" content="08" overlap>
                                    <v-avatar size="30">
                                        <v-img src="img/agrobizz_logo.png"></v-img>
                                    </v-avatar>
                                </v-badge> &nbsp;&nbsp;sub categories available
                                <v-progress-linear color="green darken-2" height="2"  bottom indeterminate></v-progress-linear>
                            </v-card-subtitle>
                        </v-card>
                        </v-hover>
                    </v-col>
                </v-row>







                <v-row>
                    <v-col cols="12" md="3">
                        <v-hover v-slot="{ hover }" open-delay="200">
                            <v-card @click="redirectToCategory()" shaped class="mx-auto" :elevation="hover ? 16 : 3" max-width="100%">
                            <v-img src="img/leafvegi.jpg" height="200px"></v-img>
                            <v-card-text class="overline" style="font-size: 14px !important;">
                                <v-system-bar solo dense elevation="2" color="white" tile >
                                    <v-icon style="font-weight: bold !important;">mdi-format-line-spacing</v-icon>
                                    <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                        Leafy vegetables
                                    </v-toolbar-title>
                                </v-system-bar>

                                <v-system-bar solo dense elevation="2" color="white" tile >
                                    <v-icon>mdi-format-line-spacing</v-icon>
                                    <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                        කොළ එළවළු වර්ග
                                    </v-toolbar-title>
                                </v-system-bar>

                                <v-system-bar solo dense elevation="2" color="white" tile >
                                    <v-icon>mdi-format-line-spacing</v-icon>
                                    <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                        இலை காய்கறிகள்
                                    </v-toolbar-title>
                                </v-system-bar>
                            </v-card-text>
                            <v-card-subtitle class="overline" style="color:black !important;font-weight: normal !important;font-size: 9px !important;">
                                <v-badge  bordered color="error" content="22" overlap>
                                    <v-avatar size="30">
                                        <v-img src="img/agrobizz_logo.png"></v-img>
                                    </v-avatar>
                                </v-badge> &nbsp;&nbsp;sub categories available
                                <v-progress-linear color="green darken-2" height="2"  bottom indeterminate></v-progress-linear>
                            </v-card-subtitle>
                        </v-card>
                        </v-hover>
                    </v-col>

                    <v-col cols="12" md="3">
                        <v-hover v-slot="{ hover }" open-delay="200">
                            <v-card shaped class="mx-auto" :elevation="hover ? 16 : 3" max-width="100%">
                            <v-img src="img/mushrooms.jpg" height="200px"></v-img>
                            <v-card-text class="overline" style="font-size: 14px !important;">
                                <v-system-bar solo dense elevation="2" color="white" tile >
                                    <v-icon style="font-weight: bold !important;">mdi-format-line-spacing</v-icon>
                                    <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                        Mushrooms
                                    </v-toolbar-title>
                                </v-system-bar>

                                <v-system-bar solo dense elevation="2" color="white" tile >
                                    <v-icon>mdi-format-line-spacing</v-icon>
                                    <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                        බිම්මල් වර්ග
                                    </v-toolbar-title>
                                </v-system-bar>

                                <v-system-bar solo dense elevation="2" color="white" tile >
                                    <v-icon>mdi-format-line-spacing</v-icon>
                                    <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                        காளான்கள்
                                    </v-toolbar-title>
                                </v-system-bar>
                            </v-card-text>
                            <v-card-subtitle class="overline" style="color:black !important;font-weight: normal !important;font-size: 9px !important;">
                                <v-badge  bordered color="error" content="08" overlap>
                                    <v-avatar size="30">
                                        <v-img src="img/agrobizz_logo.png"></v-img>
                                    </v-avatar>
                                </v-badge> &nbsp;&nbsp;sub categories available
                                <v-progress-linear color="green darken-2" height="2"  bottom indeterminate></v-progress-linear>
                            </v-card-subtitle>
                        </v-card>
                        </v-hover>
                    </v-col>

                    <v-col cols="12" md="3">
                        <v-hover v-slot="{ hover }" open-delay="200">
                            <v-card shaped class="mx-auto" :elevation="hover ? 16 : 3" max-width="100%">
                            <v-img src="img/Organic.jpg" height="200px"></v-img>
                            <v-card-text class="overline" style="font-size: 14px !important;">
                                <v-system-bar solo dense elevation="2" color="white" tile >
                                    <v-icon style="font-weight: bold !important;">mdi-format-line-spacing</v-icon>
                                    <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                        Organic foods
                                    </v-toolbar-title>
                                </v-system-bar>

                                <v-system-bar solo dense elevation="2" color="white" tile >
                                    <v-icon>mdi-format-line-spacing</v-icon>
                                    <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                        කාබනික ආහාර
                                    </v-toolbar-title>
                                </v-system-bar>

                                <v-system-bar solo dense elevation="2" color="white" tile >
                                    <v-icon>mdi-format-line-spacing</v-icon>
                                    <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                        கரிம உணவுகள்
                                    </v-toolbar-title>
                                </v-system-bar>
                            </v-card-text>
                            <v-card-subtitle class="overline" style="color:black !important;font-weight: normal !important;font-size: 9px !important;">
                                <v-badge  bordered color="error" content="07" overlap>
                                    <v-avatar size="30">
                                        <v-img src="img/agrobizz_logo.png"></v-img>
                                    </v-avatar>
                                </v-badge> &nbsp;&nbsp;sub categories available
                                <v-progress-linear color="green darken-2" height="2"  bottom indeterminate></v-progress-linear>
                            </v-card-subtitle>
                            </v-card>
                        </v-hover>
                    </v-col>

                    <v-col cols="12" md="3">
                        <v-hover v-slot="{ hover }" open-delay="200">
                            <v-card shaped class="mx-auto" :elevation="hover ? 16 : 3" max-width="100%">
                            <v-img src="img/TubersYams.jpg" height="200px"></v-img>
                            <v-card-text class="overline" style="font-size: 14px !important;">
                                <v-system-bar solo dense elevation="2" color="white" tile >
                                    <v-icon style="font-weight: bold !important;">mdi-format-line-spacing</v-icon>
                                    <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                        Tubers & yams
                                    </v-toolbar-title>
                                </v-system-bar>

                                <v-system-bar solo dense elevation="2" color="white" tile >
                                    <v-icon>mdi-format-line-spacing</v-icon>
                                    <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                        අල වර්ග
                                    </v-toolbar-title>
                                </v-system-bar>

                                <v-system-bar solo dense elevation="2" color="white" tile >
                                    <v-icon>mdi-format-line-spacing</v-icon>
                                    <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                        கிழங்குகளும் யாமங்களும்
                                    </v-toolbar-title>
                                </v-system-bar>
                            </v-card-text>
                            <v-card-subtitle class="overline" style="color:black !important;font-weight: normal !important;font-size: 9px !important;">
                                <v-badge  bordered color="error" content="16" overlap>
                                    <v-avatar size="30">
                                        <v-img src="img/agrobizz_logo.png"></v-img>
                                    </v-avatar>
                                </v-badge> &nbsp;&nbsp;sub categories available
                                <v-progress-linear color="green darken-2" height="2"  bottom indeterminate></v-progress-linear>
                            </v-card-subtitle>
                            </v-card>
                        </v-hover>
                    </v-col>
                </v-row>
            </v-container>
        </v-main>
    </v-app>
</template>


<script>
    export default {
        name: "Dashboard",
        data: () => {
            return {
                drawer: null,
                loading: true,
            }
        },
        methods: {
            redirectToLogin(){
                window.location.href = '/apilogin';
            },
            redirectToHome(){
                window.location.href = '/';
            },
            redirectToCategory(){
                window.location.href = '/categorySelect';
            },
            redirectTofarmerRegistration(){
                window.location.href = '/farmerRegistration';
            },
            redirectAnalysis(){
                window.location.href = '/analysis';
            },
            redirectToriceCategory(){
                window.location.href = '/riceCategory';
            }
        },
    }
</script>

<style lang="sass" scoped>
    .v-card.on-hover.theme--dark
        background-color: rgba(#1B5E20, 10.8)
        >.v-card__text
            color: #1B5E20
</style>
