<template>
    <v-app id="inspire" style="color:black !important;">
        <v-card  style="border-radius: 0px; !important;" class="mx-auto overflow-hidden">
            <v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp" app  light color="white">
                <v-app-bar-nav-icon @click.stop="drawer = !drawer"  x-large></v-app-bar-nav-icon>
                <v-toolbar-title class="overline" style="font-weight: bold !important;font-size: 16px !important;">AGROBIZZ</v-toolbar-title>
                <v-spacer></v-spacer>
            </v-app-bar>
        </v-card>

        <v-card outlined >
            <v-navigation-drawer  v-model="drawer" :clipped="$vuetify.breakpoint.lgAndUp" app>
                <v-row justify="center">
                    <v-col cols="11" md="11">
                        <v-toolbar elevation="2" color="white" tile>
                            <v-toolbar-title class="ml-2 overline" style="color:black !important;font-size: 0.75rem !important;" >Welcome to Agrobizz</v-toolbar-title>
                        </v-toolbar>
                        <v-card tile>
                            <v-row justify="center">
                                <v-avatar size="180" >
                                    <img src="img/agrobizz_logo.png">
                                </v-avatar>
                            </v-row>
                        </v-card>
                    </v-col>
                </v-row>

                <v-row justify="center">
                    <v-col cols="11" md="11">
                        <v-toolbar @click="redirectToHome()" elevation="2" color="white" tile>
                            <v-icon>mdi-home-circle</v-icon>
                            <v-toolbar-title class="ml-2 overline" style="color:black !important;font-size: 0.75rem !important;">My Home</v-toolbar-title>
                        </v-toolbar>
                    </v-col>

                    <v-col cols="11" md="11">
                        <v-toolbar @click="redirectToLogin()" elevation="2" color="white" tile>
                            <v-icon>mdi-login-variant</v-icon>
                            <v-toolbar-title class="ml-2 overline" style="color:black !important;font-size: 0.75rem !important;">Sign in</v-toolbar-title>
                        </v-toolbar>
                    </v-col>
                </v-row>
            </v-navigation-drawer>
        </v-card>
        <v-main class="white">
            <v-container>
                <v-app-bar color="white" dense >
                    <v-icon>mdi-checkbox-marked-circle</v-icon>&nbsp;&nbsp;
                    <v-toolbar-title class="overline" style="font-size: 12px !important;font-weight: bold !important;">Farmer registration</v-toolbar-title>
                    <v-spacer></v-spacer>
                </v-app-bar>

                <v-row>
                    <v-col cols="12" md="12">
                            <v-card tile class="mx-auto"  elevation="5">
                                    <v-tabs class="overline" v-model="tab" background-color="green darken-4" dark next-icon="mdi-arrow-right-bold-box-outline" prev-icon="mdi-arrow-left-bold-box-outline" show-arrows>
                                        <v-tabs-slider color="yellow"></v-tabs-slider>
                                        <v-tab>Farmer</v-tab>
                                        <v-tab>Farm</v-tab>
                                        <v-tab>Crop</v-tab>
                                        <v-tab>Fertilizer</v-tab>
                                    </v-tabs>

                                    <v-tabs-items v-model="tab">
                                        <v-tab-item>
                                            <v-card flat>
                                                <v-card-text>
                                                    <v-form>
                                                        <v-card tile class="mx-auto"  elevation="5">
                                                            <v-container>
                                                                <v-row>
                                                                    <v-col cols="12" md="6">
                                                                        <v-text-field  prepend-icon="mdi-checkbox-multiple-marked-outline" clearable v-model="Farmername" label="Farmer name" required></v-text-field>
                                                                        <v-text-field  prepend-icon="mdi-email" clearable v-model="NICnumber" label="NIC number" required></v-text-field>
                                                                        <v-text-field  prepend-icon="mdi-email" clearable v-model="Email" label="Email" required></v-text-field>
                                                                        <v-text-field  prepend-icon="mdi-cellphone" clearable v-model="MobileNo" label="Mobile no" required></v-text-field>
                                                                        <v-text-field  prepend-icon="mdi-bank" clearable v-model="GoogleAddress" label="Google address" required></v-text-field>
                                                                        <v-text-field  prepend-icon="mdi-barrel" clearable v-model="Address" label="Address" required></v-text-field>

                                                                        <v-card tile elevation="2" color="white">
                                                                            <v-card-text style="color:black !important;"  >
                                                                                <p class="overline font-weight-medium">Select your gender</p>

                                                                                <v-radio-group v-model="gender" column>
                                                                                    <v-radio color="green" label="Male" value="Male"></v-radio>
                                                                                    <v-radio color="green" label="Female" value="Female"></v-radio>
                                                                                </v-radio-group>
                                                                            </v-card-text>
                                                                        </v-card>
                                                                    </v-col>

                                                                    <v-col cols="12" md="6">
                                                                        <v-select clearable prepend-icon="mdi-compare" v-model="selectCompanyORgroup" :items="CompanyORgroup" label="Select company or group" required></v-select>
                                                                        <v-text-field prepend-icon="mdi-checkbox-multiple-marked-outline" clearable v-model="CompanyORGroupname" label="Company/group name" required></v-text-field>
                                                                        <v-text-field  prepend-icon="mdi-compare" clearable v-model="CompanyORGroupaddress" label="Company/group address" required></v-text-field>

                                                                        <v-card tile elevation="2" color="white" class="mt-6">
                                                                            <v-card-text style="color:black !important;" >
                                                                                <p class="overline font-weight-medium">Farmer family size</p>

                                                                                <v-text-field prepend-icon="mdi-checkbox-multiple-marked-outline" clearable v-model="NumberofChildren" label="Number of Children" required></v-text-field>
                                                                                <v-text-field prepend-icon="mdi-checkbox-multiple-marked-outline" clearable v-model="NumberofAdults" label="Number of Adults" required></v-text-field>
                                                                                <v-text-field prepend-icon="mdi-checkbox-multiple-marked-outline" clearable v-model="NumberofEarningMembers" label="Number of Earning Members" required></v-text-field>
                                                                                <v-select clearable prepend-icon="mdi-format-line-spacing" v-model="Currentsourceofincome" :items="CurrentSIncome" label="Current source of income" required></v-select>
                                                                            </v-card-text>
                                                                        </v-card>
                                                                    </v-col>
                                                                </v-row>
                                                                <v-card-actions>
                                                                    <v-spacer></v-spacer>
                                                                    <v-btn tile color="indigo darken-4" dark >Submit<v-icon left>mdi-book</v-icon></v-btn>
                                                                    <v-btn tile color="green darken-4" dark >Next<v-icon left>mdi-skip-next-circle</v-icon></v-btn>
                                                                </v-card-actions>
                                                            </v-container>
                                                        </v-card>
                                                    </v-form>
                                                </v-card-text>
                                            </v-card>
                                        </v-tab-item>









                                        <v-tab-item>
                                            <v-card flat>
                                                <v-card-text>
                                                    <v-form>
                                                        <v-card tile class="mx-auto"  elevation="5">
                                                            <v-container>
                                                                <v-row>
                                                                    <v-col cols="12" md="6">
                                                                        <v-text-field  prepend-icon="mdi-checkbox-multiple-marked-outline" clearable v-model="Farmname" label="Farm name" required></v-text-field>
                                                                        <v-text-field  prepend-icon="mdi-google-maps" clearable v-model="FarmLocation" label="Farm Location" required></v-text-field>
                                                                        <v-text-field  prepend-icon="mdi-bank" clearable v-model="FarmGoogleAddress" label="Google address" required></v-text-field>
                                                                        <v-text-field  prepend-icon="mdi-barrel" clearable v-model="Address" label="Address" required></v-text-field>
                                                                        <v-select clearable prepend-icon="mdi-format-line-spacing" v-model="selectLandSize" :items="LandSize" label="Select land size" required></v-select>
                                                                        <v-select clearable prepend-icon="mdi-format-line-spacing" v-model="selectLandType" :items="LandType" label="Select land type" required></v-select>
                                                                        <v-select clearable prepend-icon="mdi-format-line-spacing" v-model="selectLandCondition" :items="LandCondition" label="Select land condition" required></v-select>
                                                                        <v-select clearable prepend-icon="mdi-format-line-spacing" v-model="selectFarmingType" :items="FarmingType" label="Select farming type" required></v-select>
                                                                        <v-select clearable prepend-icon="mdi-format-line-spacing" v-model="selectTypeofFarming" :items="TypeofFarming" label="Select type of farming" required></v-select>
                                                                    </v-col>
                                                                    <v-col cols="12" md="6">
                                                                        <v-card tile elevation="2" color="white">
                                                                            <v-card-text style="color:black !important;" class="overline font-weight-medium" >
                                                                                Farm land mapping
                                                                            </v-card-text>
                                                                        </v-card>
                                                                        <v-row>
                                                                            <v-col cols="12" md="12">
                                                                                <GmapMap :options="mapOptions" :center="center" :zoom="7" :rotateControl="false" :disableDefaultUI="false" :streetViewControl="false" style="width:100% !important;height: 80vh; max-height: 100%;" ref="mapDiv"></GmapMap>
                                                                            </v-col>
                                                                        </v-row>
                                                                    </v-col>
                                                                </v-row>
                                                                <v-card-actions>
                                                                    <v-spacer></v-spacer>
                                                                    <v-btn tile color="indigo darken-4" dark >Submit<v-icon left>mdi-book</v-icon></v-btn>
                                                                    <v-btn tile color="green darken-4" dark >Next<v-icon left>mdi-skip-next-circle</v-icon></v-btn>
                                                                </v-card-actions>
                                                            </v-container>
                                                        </v-card>
                                                    </v-form>
                                                </v-card-text>
                                            </v-card>
                                        </v-tab-item>







                                        <v-tab-item>
                                            <v-card flat>
                                                <v-card-text>
                                                    <v-form>
                                                        <v-card tile class="mx-auto"  elevation="5">
                                                            <v-container>
                                                                <v-row>
                                                                    <v-col cols="12" md="6">
                                                                        <v-select clearable prepend-icon="mdi-format-line-spacing" v-model="SelectMainCroptype" :items="MainCroptype" label="Select main crop type" required></v-select>
                                                                        <v-select clearable prepend-icon="mdi-format-line-spacing" v-model="SelectSubCroptype" :items="SubCroptype" label="Select sub crop type" required></v-select>
                                                                        <v-select clearable prepend-icon="mdi-format-line-spacing" v-model="SelectMinerCroptype" :items="MinerCroptype" label="Select miner crop type" required></v-select>
                                                                        <v-text-field  prepend-icon="mdi-checkbox-multiple-marked-outline" clearable v-model="CultivatedLandArea" label="Cultivated Land area" required></v-text-field>
                                                                        <v-text-field  prepend-icon="mdi-checkbox-multiple-marked-outline" clearable v-model="NumberofCrops" label="Number of crops" required></v-text-field>

                                                                        <v-menu ref="PlantDate" v-model="PlantDate" :close-on-content-click="false" :return-value.sync="date" transition="scale-transition" offset-y min-width="290px">
                                                                            <template v-slot:activator="{ on, attrs }">
                                                                                <v-text-field v-model="datePlantDate" label="Plant date" prepend-icon="mdi-calendar" readonly v-bind="attrs" v-on="on"></v-text-field>
                                                                            </template>
                                                                            <v-date-picker v-model="datePlantDate" no-title scrollable>
                                                                                <v-spacer></v-spacer>
                                                                                <v-btn text color="primary" @click="PlantDate = false">Cancel
                                                                                </v-btn>
                                                                                <v-btn text color="primary" @click="$refs.PlantDate.save(date)">OK</v-btn>
                                                                            </v-date-picker>
                                                                        </v-menu>
                                                                        <v-menu ref="HarvestDate" v-model="HarvestDate" :close-on-content-click="false" :return-value.sync="date" transition="scale-transition" offset-y min-width="290px">
                                                                            <template v-slot:activator="{ on, attrs }">
                                                                                <v-text-field v-model="dateHarvestDate" label="Harvest date" prepend-icon="mdi-calendar" readonly v-bind="attrs" v-on="on"></v-text-field>
                                                                            </template>
                                                                            <v-date-picker v-model="dateHarvestDate" no-title scrollable>
                                                                                <v-spacer></v-spacer>
                                                                                <v-btn text color="primary" @click="HarvestDate = false">Cancel
                                                                                </v-btn>
                                                                                <v-btn text color="primary" @click="$refs.HarvestDate.save(date)">OK</v-btn>
                                                                            </v-date-picker>
                                                                        </v-menu>
                                                                    </v-col>

                                                                    <v-col cols="12" md="6">
                                                                        <v-select clearable prepend-icon="mdi-format-line-spacing" v-model="SelectCroparea" :items="Croparea" label="Select crop area" required></v-select>
                                                                        <v-text-field  prepend-icon="mdi-checkbox-multiple-marked-outline" clearable v-model="Expectedprice" label="Expected price" required></v-text-field>
                                                                        <v-text-field  prepend-icon="mdi-checkbox-multiple-marked-outline" clearable v-model="Expectedquantity" label="Expected quantity" required></v-text-field>
                                                                        <v-text-field  prepend-icon="mdi-checkbox-multiple-marked-outline" clearable v-model="Previouscrops" label="Previous crops" required></v-text-field>
                                                                        <v-text-field  prepend-icon="mdi-checkbox-multiple-marked-outline" clearable v-model="Sellingprice" label="Selling price" required></v-text-field>
                                                                        <v-text-field  prepend-icon="mdi-checkbox-multiple-marked-outline" clearable v-model="Sellingprice" label="Selling price" required></v-text-field>
                                                                    </v-col>
                                                                </v-row>
                                                                <v-card-actions>
                                                                    <v-spacer></v-spacer>
                                                                    <v-btn tile color="indigo darken-4" dark >Submit<v-icon left>mdi-book</v-icon></v-btn>
                                                                    <v-btn tile color="green darken-4" dark >Next<v-icon left>mdi-skip-next-circle</v-icon></v-btn>
                                                                </v-card-actions>
                                                            </v-container>
                                                        </v-card>
                                                    </v-form>
                                                </v-card-text>
                                            </v-card>
                                        </v-tab-item>



                                        <v-tab-item>
                                            <v-card flat>
                                                <v-card-text>
                                                    <v-form>
                                                        <v-card tile class="mx-auto"  elevation="5">
                                                            <v-container>
                                                                <v-row>
                                                                    <v-col cols="12" md="6">
                                                                        <v-text-field  prepend-icon="mdi-checkbox-multiple-marked-outline" clearable v-model="Typeoffertilizer" label="Type of fertilizer" required></v-text-field>
                                                                        <v-text-field  prepend-icon="mdi-checkbox-multiple-marked-outline" clearable v-model="Quantityneed" label="Quantity need" required></v-text-field>
                                                                        <v-text-field  prepend-icon="mdi-checkbox-multiple-marked-outline" clearable v-model="Sellingprice" label="Selling price" required></v-text-field>

                                                                        <v-card tile elevation="2" color="white">
                                                                            <v-card-text style="color:black !important;" class="overline font-weight-medium" >
                                                                                Fertilizer required period
                                                                            </v-card-text>
                                                                        </v-card>

                                                                        <v-row>
                                                                            <v-col cols="12" md="6">
                                                                                <v-menu ref="FertilizerFromDate" v-model="FertilizerFromDate" :close-on-content-click="false" :return-value.sync="date" transition="scale-transition" offset-y min-width="290px">
                                                                                    <template v-slot:activator="{ on, attrs }">
                                                                                        <v-text-field v-model="dateFertilizerFrom" label="Date from" prepend-icon="mdi-calendar" readonly v-bind="attrs" v-on="on"></v-text-field>
                                                                                    </template>
                                                                                    <v-date-picker v-model="dateFertilizerFrom" no-title scrollable>
                                                                                        <v-spacer></v-spacer>
                                                                                        <v-btn text color="primary" @click="FertilizerFromDate = false">Cancel
                                                                                        </v-btn>
                                                                                        <v-btn text color="primary" @click="$refs.FertilizerFromDate.save(date)">OK</v-btn>
                                                                                    </v-date-picker>
                                                                                </v-menu>
                                                                            </v-col>

                                                                            <v-col cols="12" md="6">
                                                                                <v-menu ref="FertilizerToDate" v-model="FertilizerToDate" :close-on-content-click="false" :return-value.sync="date" transition="scale-transition" offset-y min-width="290px">
                                                                                    <template v-slot:activator="{ on, attrs }">
                                                                                        <v-text-field v-model="dateFertilizerTo" label="Date to" prepend-icon="mdi-calendar" readonly v-bind="attrs" v-on="on"></v-text-field>
                                                                                    </template>
                                                                                    <v-date-picker v-model="dateFertilizerTo" no-title scrollable>
                                                                                        <v-spacer></v-spacer>
                                                                                        <v-btn text color="primary" @click="FertilizerToDate = false">Cancel
                                                                                        </v-btn>
                                                                                        <v-btn text color="primary" @click="$refs.FertilizerToDate.save(date)">OK</v-btn>
                                                                                    </v-date-picker>
                                                                                </v-menu>
                                                                            </v-col>
                                                                        </v-row>
                                                                    </v-col>
                                                                </v-row>
                                                                <v-card-actions>
                                                                    <v-spacer></v-spacer>
                                                                    <v-btn tile color="red darken-4" dark >Close<v-icon left>mdi-delete-circle</v-icon></v-btn>
                                                                    <v-btn tile color="green darken-4" dark >Finish<v-icon left>mdi-account-edit</v-icon></v-btn>
                                                                </v-card-actions>
                                                            </v-container>
                                                        </v-card>
                                                    </v-form>
                                                </v-card-text>
                                            </v-card>
                                        </v-tab-item>
                                    </v-tabs-items>
                                </v-card>


                    </v-col>
                </v-row>

            </v-container>
        </v-main>
    </v-app>
</template>

<script>
    import {gmapApi} from 'vue2-google-maps';
    import {mapState} from 'vuex';
    export default {
        name: "farmerRegistration",

        data: () => ({
            mapOptions: {
                zoomControl: false,
                mapTypeControl: false,
                scaleControl: false,
                streetViewControl: false,
                rotateControl: false,
                fullscreenControl: false,
                disableDefaultUi: false
            },
            dateHarvestDate: new Date().toISOString().substr(0, 10),
            datePlantDate: new Date().toISOString().substr(0, 10),
            dateFertilizerTo: new Date().toISOString().substr(0, 10),
            dateFertilizerFrom: new Date().toISOString().substr(0, 10),
            FertilizerFromDate: false,
            FertilizerToDate: false,
            PlantDate: false,
            HarvestDate: false,
            modal: false,
            marker: true,
            center: {lat: 7.927079, lng: 80.761244},
            tab: null,
            nicUpload:null,
            postalCode:'',
            district:'',
            postalTown:'',
            drawer: null,
            firstname: '',
            lastname:'',
            mobile:'',
            city:'',
            email: '',
            SelectCroparea:null,
            selectLandSize:null,
            selectLandType:null,
            selectLandCondition:null,
            selectTypeofFarming:null,
            selectFarmingType:null,
            SelectMainCroptype:null,
            SelectSubCroptype:null,
            SelectMinerCroptype:null,
            Currentsourceofincome:null,
            selectCompanyORgroup: null,
            CompanyORgroup: [
                'Company',
                'Groups',
            ],
            CurrentSIncome: [
                'Mostly',
                'Occasionally',
                'Rarely',
            ],
            LandSize: [
                'Hectare',
                'Acre',
            ],
            LandType: [
                'Flat',
                'Undulated',
            ],
            LandCondition: [
                'Dry',
                'Wet',
            ],
            FarmingType: [
                'Organic',
                'Inorganic',
            ],
            TypeofFarming: [
                'Rain-fed farming',
                'Irrigation farming',
                'Rain-fed and Irrigation farming',
            ],
            MainCroptype: [
                'Fruits',
                'Vegetable',
                'Rice',
            ],
            SubCroptype: [

            ],
            MinerCroptype: [

            ],
            Croparea: [
                'Hectare',
                'Acre',
            ],
            show1: false,
            show2: false,
            password: 'Password',
            rules: {
                required: value => !!value || 'Required.',
                min: v => v.length >= 8 || 'Min 8 characters',
            },
        }),
        methods: {
            redirectToRegistration(){
                window.location.href = '/Registration';
            },
            redirectToLogin(){
                window.location.href = '/apilogin';
            },
            redirectToHome(){
                window.location.href = '/';
            },
            redirectTofarmerRegistration(){
                window.location.href = '/farmerRegistration';
            },
        },
    }
</script>

<style>
    .v-label {
        font-size: 0.9em !important;
        color: black !important;
    }
</style>
