<template>
    <v-app id="inspire">
        <v-card  style="border-radius: 0px; !important;" class="mx-auto overflow-hidden">
            <v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp" app  light color="white">
                <v-app-bar-nav-icon @click.stop="drawer = !drawer"  x-large></v-app-bar-nav-icon>
                <v-toolbar-title class="overline" style="font-weight: bold !important;font-size: 16px !important;">AGROBIZZ</v-toolbar-title>
                <v-spacer></v-spacer>
            </v-app-bar>
        </v-card>

        <v-card outlined >
            <v-navigation-drawer  v-model="drawer" :clipped="$vuetify.breakpoint.lgAndUp" app>
                <v-row justify="center">
                    <v-col cols="11" md="11">
                        <v-toolbar elevation="2" color="white" tile>
                            <v-toolbar-title class="ml-2 overline" style="color:black !important;font-size: 0.75rem !important;" >Welcome to Agrobizz</v-toolbar-title>
                        </v-toolbar>
                        <v-card tile>
                            <v-row justify="center">
                                <v-avatar size="180" >
                                    <img src="img/agrobizz_logo.png">
                                </v-avatar>
                            </v-row>
                        </v-card>
                    </v-col>
                </v-row>

                <v-row justify="center">
                    <v-col cols="11" md="11">
                        <v-toolbar @click="redirectToHome()" elevation="2" color="white" tile>
                            <v-icon>mdi-home-circle</v-icon>
                            <v-toolbar-title class="ml-2 overline" style="font-size: 0.75rem !important;">My Home</v-toolbar-title>
                        </v-toolbar>
                    </v-col>

                    <v-col cols="11" md="11">
                        <v-toolbar @click="redirectAnalysis()" elevation="2" color="white" tile>
                            <v-icon>mdi-ruler</v-icon>
                            <v-toolbar-title class="ml-2 overline" style="font-size: 0.65rem !important;">Analysis</v-toolbar-title>
                        </v-toolbar>
                    </v-col>

                    <v-col cols="11" md="11">
                        <v-toolbar @click="redirectToLogin()" elevation="2" color="white" tile>
                            <v-icon>mdi-login-variant</v-icon>
                            <v-toolbar-title class="ml-2 overline" style="font-size: 0.75rem !important;">Sign in</v-toolbar-title>
                        </v-toolbar>
                    </v-col>
                </v-row>
            </v-navigation-drawer>
        </v-card>
        <v-main class="white">
            <v-container>
                <v-row>
                    <v-col cols="12" md="12">
                        <v-app-bar color="white" dense >
                            <v-icon>mdi-checkbox-marked-circle</v-icon>&nbsp;&nbsp;
                            <v-toolbar-title class="overline" style="font-size: 12px !important;font-weight: bold !important;">Farmer profile</v-toolbar-title>
                            <v-spacer></v-spacer>
                            <v-btn small dark tile color="green darken-4"  @click="checkoutConfirmDialog = true"><v-icon left small>mdi-marker-check</v-icon>Update</v-btn>
                        </v-app-bar>
                    </v-col>
                </v-row>

                <v-row>

                    <v-col cols="12" md="12">
                        <v-card class="mx-auto" >
                            <v-container>
                                 <v-row>
                                    <v-col cols="12" md="4">
                                        <v-card height="325" tile max-width="100%">
                                            <v-card-text>
                                                <v-toolbar  elevation="2" color="white" tile>
                                                    <v-icon>mdi-account-child-circle</v-icon>
                                                    <v-toolbar-title class="ml-2 overline" style="font-weight: bold !important;font-size: 0.75rem !important;">Farmer Image</v-toolbar-title>
                                                </v-toolbar><br>
                                                <v-img width="100%" height="200px" src="img/Farmers/farmer1.jpg" ></v-img>
                                            </v-card-text>
                                        </v-card>
                                    </v-col>
                                    <v-col cols="12" md="8" >
                                        <v-card  style="font-size: 10px !important" height="325" tile  max-width="100%">
                                            <v-card-title>
                                                <v-text-field v-model="search" append-icon="mdi-magnify" label="Search" single-line hide-details></v-text-field>
                                            </v-card-title>
                                            <v-data-table dense class="overline black--text font-weight-light"  :headers="headers" :items="desserts" :search="search">
                                                <template v-slot:item.Purchasing="{ item }" >
                                                    <v-btn  x-small  tile color="green darken-4" dark @click="PurchasingDialog = true"><v-icon left x-small>mdi-clipboard-text</v-icon>{{ item.Purchasing }}</v-btn>
                                                </template>

                                                <template v-slot:item.AddtoCart="{ item }">
                                                    <v-btn  x-small  tile color="red darken-4" dark ><v-icon left x-small>mdi-cart</v-icon>{{ item.AddtoCart }}</v-btn>
                                                </template>
                                            </v-data-table>
                                        </v-card>
                                    </v-col>
                                </v-row>

                                <v-row>
                                    <v-col cols="12" md="4">
                                        <v-card tile elevation="2" color="white">
                                            <v-card-text class="overline font-weight-medium" >
                                                <GmapMap :options="mapOptions" :center="{ lat: 7.927079, lng: 80.761244 }" :zoom="6" :rotateControl="false" :disableDefaultUI="false" :streetViewControl="false" style="width:100% !important;height: 50vh; max-height: 100%;" ref="mapDiv">
                                                    <GmapMarker :position="{ lat: 7.927079, lng: 80.761244 }"></GmapMarker>
                                                    <GmapInfoWindow ></GmapInfoWindow>
                                                </GmapMap>
                                            </v-card-text>
                                        </v-card>
                                    </v-col>
                                    <v-col cols="12" md="8">
                                        <v-card tile elevation="2" color="white">
                                            <v-card-text class="overline font-weight-medium" >
                                                    <v-toolbar  elevation="2" color="white" tile>
                                                        <v-icon>mdi-account-edit</v-icon>&nbsp;&nbsp;
                                                        <span class="overline ml" style="color:black !important;font-size: 0.75rem !important;font-weight: bold !important;">Price analysis (Individual)</span>
                                                    </v-toolbar>
                                                <div v-ripple="{ center: true }" class="LineChart_weatherData" ref="chart1"></div>
                                            </v-card-text>
                                        </v-card>
                                    </v-col>
                                </v-row>

                                <v-row>
                                    <v-col cols="12" md="6">
                                        <v-card tile elevation="2" color="white">
                                            <v-card-text class="overline font-weight-medium" >
                                                <v-toolbar  elevation="2" color="white" tile>
                                                    <v-icon>mdi-account-edit</v-icon>&nbsp;&nbsp;
                                                    <span class="overline ml" style="color:black !important;font-size: 0.75rem !important;font-weight: bold !important;">Cultivated main crops</span>
                                                </v-toolbar>
                                                <div v-ripple="{ center: true }" class="LineChart_weatherData" ref="chart2"></div>
                                            </v-card-text>
                                        </v-card>
                                    </v-col>
                                    <v-col cols="12" md="6">
                                        <v-card tile elevation="2" color="white">
                                            <v-card-text class="overline font-weight-medium" >
                                                <v-toolbar  elevation="2" color="white" tile>
                                                    <v-icon>mdi-account-edit</v-icon>&nbsp;&nbsp;
                                                    <span class="overline ml" style="color:black !important;font-size: 0.75rem !important;font-weight: bold !important;">Farmer Income & Expenses</span>
                                                </v-toolbar>
                                                <div v-ripple="{ center: true }" class="LineChart_weatherData" ref="chart3"></div>
                                            </v-card-text>
                                        </v-card>
                                    </v-col>
                                </v-row>

                            </v-container>

                            <v-card-text class="pt-0">
                                <v-row>
                                    <v-col cols="12" md="7">
                                        <v-timeline align-top dense>
                                            <v-timeline-item  small color="green darken-4" >
                                                <div class="overline" style="color:black !important;font-size: 11px !important;">
                                                    Farmer name: Sugath perera
                                                </div>
                                            </v-timeline-item>

                                            <v-timeline-item  small color="green darken-4">
                                                <div class="overline" style="color:black !important;font-size: 11px !important;">
                                                    Farmer address: NO:22/1, dhammawasa mawatha, anuradhapura, Thalawa
                                                </div>
                                            </v-timeline-item>

                                            <v-timeline-item  small color="green darken-4">
                                                <div class="overline" style="color:black !important;font-size: 11px !important;">
                                                    Contact number: 077 2154851
                                                </div>
                                            </v-timeline-item>

                                            <v-timeline-item  small color="green darken-4">
                                                <div class="overline" style="color:black !important;font-size: 11px !important;">
                                                    Location: Anuradhapura
                                                </div>
                                            </v-timeline-item>

                                            <v-timeline-item  small color="green darken-4">
                                                <div class="overline " style="color:black !important;font-size: 11px !important;">
                                                    DSD: Thalawa
                                                </div>
                                            </v-timeline-item>

                                            <v-timeline-item  small color="green darken-4">
                                                <div class="overline" style="color:black !important;font-size: 11px !important;">
                                                    GND: Eppawala
                                                </div>
                                            </v-timeline-item>
                                        </v-timeline>
                                    </v-col>
                                    <v-col cols="12" md="5">
                                        <v-card  height="auto" tile  max-width="100%">
                                            <v-card-text>
                                                <v-toolbar  elevation="2" color="white" tile>
                                                    <v-icon>mdi-account-star</v-icon>
                                                    <v-toolbar-title class="ml-2 overline" style="font-size: 0.75rem !important;font-weight: bold !important;">Rate Us</v-toolbar-title>
                                                </v-toolbar><br>

                                                <v-row>
                                                    <v-col cols="7" md="7" sm="7">
                                                        <p class="overline" style="color:black !important;font-size: 0.58rem !important;">Farmer Rate
                                                            <span class="black--text text--lighten-2 caption">({{ FarmerRaterating }})</span>
                                                        </p>
                                                    </v-col>
                                                    <v-col cols="5" md="5" sm="5">
                                                        <v-rating v-model="FarmerRaterating" background-color="white" color="yellow accent-4" dense half-increments hover  length="4" size="20" value="7" ></v-rating>
                                                    </v-col>
                                                </v-row>

                                                <v-row>
                                                    <v-col cols="7" md="7" sm="7">
                                                        <p class="overline" style="color:black !important;font-size: 0.58rem !important;">
                                                            Business Rate
                                                            <span class="black--text text--lighten-2 caption">({{ ratingBusinessRate }})</span>
                                                        </p>
                                                    </v-col>
                                                    <v-col cols="5" md="5" sm="5">
                                                        <v-rating v-model="ratingBusinessRate" background-color="white" color="yellow accent-4" dense half-increments hover  length="4" size="20" value="7" ></v-rating>
                                                    </v-col>
                                                </v-row>

                                                <v-row>
                                                    <v-col cols="7" md="7" sm="7">
                                                        <p class="overline" style="color:black !important;font-size: 0.58rem !important;">
                                                            Data Updating
                                                            <span class="black--text text--lighten-2 caption">({{ ratingDataUpdateing }})</span>
                                                        </p>
                                                    </v-col>
                                                    <v-col cols="5" md="5" sm="5">
                                                        <v-rating v-model="ratingDataUpdateing" background-color="white" color="yellow accent-4" dense half-increments hover  length="4" size="20" value="7" ></v-rating>
                                                    </v-col>
                                                </v-row>
                                            </v-card-text>
                                        </v-card>
                                    </v-col>

                                </v-row>
                                <v-divider class="my-2"></v-divider>
                                <v-icon class="mr-2" small>mdi-clock</v-icon>
                                <span class="caption black--text font-weight-light">last update 26 minutes ago</span>
                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>

                <v-dialog v-model="checkoutConfirmDialog" max-width="900px">
                    <v-card>
                        <v-card-title>
                            <v-container>
                                <v-row>
                                    <v-col cols="12" md="12">
                                        <v-toolbar  elevation="2" color="white" tile>
                                            <v-icon>mdi-account-edit</v-icon>&nbsp;&nbsp;
                                            <span class="overline ml" style="color:black !important;font-size: 0.75rem !important;font-weight: bold !important;">Update details</span>
                                        </v-toolbar>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-card-title>
                        <v-card-text class="overline">
                                <v-tabs>
                                    <v-tab color="green darken-4" x-small class="overline" style="font-size: 10px !important">
                                        <v-icon small left>mdi-cards</v-icon>existing stock
                                    </v-tab>
                                    <v-tab color="green darken-4" x-small class="overline" style="font-size: 10px !important">
                                        <v-icon small left>mdi-cards-playing-outline</v-icon>new stock
                                    </v-tab>

                                    <v-tab-item>
                                        <v-card flat>
                                            <v-data-table dense class="caption"  :headers="headersUpdate" :items="dessertsUpdate" :search="search">
                                                <template v-slot:item.MainCrop="props">
                                                    <v-edit-dialog :return-value.sync="props.item.MainCrop" @save="save" @cancel="cancel" @open="open" @close="close">
                                                        {{ props.item.MainCrop }}
                                                        <template v-slot:input>
                                                            <v-text-field v-model="props.item.MainCrop" :rules="[max25chars]" label="Edit" single-line counter></v-text-field>
                                                        </template>
                                                    </v-edit-dialog>
                                                </template>

                                                <template v-slot:item.SubCrop="props">
                                                    <v-edit-dialog :return-value.sync="props.item.SubCrop" large persistent @save="save" @cancel="cancel" @open="open" @close="close">
                                                        <div>{{ props.item.SubCrop }}</div>
                                                        <template v-slot:input>
                                                            <v-text-field v-model="props.item.SubCrop" :rules="[max25chars]" label="Edit" single-line counter autofocus></v-text-field>
                                                        </template>
                                                    </v-edit-dialog>
                                                </template>

                                                <template v-slot:item.quantity="props">
                                                    <v-edit-dialog :return-value.sync="props.item.quantity" large persistent @save="save" @cancel="cancel" @open="open" @close="close">
                                                        <div>{{ props.item.quantity }}</div>
                                                        <template v-slot:input>
                                                            <v-text-field v-model="props.item.quantity" :rules="[max25chars]" label="Edit" single-line counter autofocus></v-text-field>
                                                        </template>
                                                    </v-edit-dialog>
                                                </template>

                                                <template v-slot:item.SellingPrice="props">
                                                    <v-edit-dialog :return-value.sync="props.item.SellingPrice" large persistent @save="save" @cancel="cancel" @open="open" @close="close">
                                                        <div>{{ props.item.SellingPrice }}</div>
                                                        <template v-slot:input>
                                                            <v-text-field v-model="props.item.SellingPrice" :rules="[max25chars]" label="Edit" single-line counter autofocus></v-text-field>
                                                        </template>
                                                    </v-edit-dialog>
                                                </template>

                                                <template v-slot:item.AvailableStock="props">
                                                    <v-edit-dialog :return-value.sync="props.item.AvailableStock" large persistent @save="save" @cancel="cancel" @open="open" @close="close">
                                                        <div>{{ props.item.AvailableStock }}</div>
                                                        <template v-slot:input>
                                                            <v-text-field v-model="props.item.AvailableStock" :rules="[max25chars]" label="Edit" single-line counter autofocus></v-text-field>
                                                        </template>
                                                    </v-edit-dialog>
                                                </template>
                                            </v-data-table>
                                            <v-card-actions>
                                                <v-spacer></v-spacer>
                                                <v-btn tile color="error" dark  @click="checkoutConfirmDialog = false">Close</v-btn>
                                                <v-btn tile color="green darken-4" dark  @click="checkoutConfirmDialog = false">Update</v-btn>
                                            </v-card-actions>
                                        </v-card>
                                    </v-tab-item>
                                    <v-tab-item>
                                        <v-container>
                                            <v-row>
                                                <v-col cols="12" md="12">
                                                    <v-toolbar  elevation="2" color="white" tile >
                                                        <v-icon>mdi-account-circle</v-icon>
                                                        <v-text-field class="ml-2 overline" value="Main crop:" style="color:black !important;"></v-text-field>
                                                    </v-toolbar>
                                                    <v-toolbar  elevation="2" color="white" tile class="mt-2">
                                                        <v-icon>mdi-checkbox-marked-outline</v-icon>
                                                        <v-text-field class="ml-2 overline" value="Sub crop:" style="color:black !important;"></v-text-field>
                                                    </v-toolbar>
                                                    <v-toolbar  elevation="2" color="white" tile class="mt-2">
                                                        <v-icon>mdi-clipboard</v-icon>
                                                        <v-text-field class="ml-2 overline"  value="Quantity:" style="color:black !important;"></v-text-field>
                                                    </v-toolbar>
                                                    <v-toolbar  elevation="2" color="white" tile class="mt-2">
                                                        <v-icon>mdi-collage</v-icon>
                                                        <v-text-field class="ml-2 overline" value="Selling price: " style="color:black !important;"></v-text-field>
                                                    </v-toolbar>
                                                </v-col>
                                            </v-row>
                                        </v-container>
                                        <v-card-actions>
                                            <v-spacer></v-spacer>
                                            <v-btn tile color="error" dark  @click="checkoutConfirmDialog = false">Close</v-btn>
                                            <v-btn tile color="green darken-4" dark  @click="checkoutConfirmDialog = false">Save</v-btn>
                                        </v-card-actions>
                                    </v-tab-item>
                                </v-tabs>
                            </v-card-text>
                        </v-card>
                    </v-dialog>


                <v-dialog v-model="PurchasingDialog"  max-width="600px">
                    <v-card>
                        <v-card-title>
                            <v-container>
                                <v-row>
                                    <v-col cols="12" md="12">
                                        <v-toolbar  elevation="2" color="white" tile>
                                            <v-icon>mdi-account-edit</v-icon>&nbsp;&nbsp;
                                            <span class="overline ml" style="color:black !important;font-size: 0.75rem !important;font-weight: bold !important;">User Purchasing Details</span>
                                        </v-toolbar>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-card-title>
                        <v-card-text class="overline">
                            <v-container class="overline">
                                <v-row>
                                    <v-col cols="12" md="12">
                                        <v-toolbar  elevation="2" color="white" tile >
                                            <v-icon>mdi-account-circle</v-icon>
                                            <v-text-field class="ml-2 overline" value="Name: Sugath Perera" style="color:black !important;"></v-text-field>
                                        </v-toolbar>
                                        <v-toolbar  elevation="2" color="white" tile class="mt-2">
                                            <v-icon>mdi-checkbox-marked-outline</v-icon>
                                            <v-text-field class="ml-2 overline" value="Address: NO:22/1, Dhammawasa Mawatha, Anuradhapura, Thalawa" style="color:black !important;"></v-text-field>
                                        </v-toolbar>
                                        <v-toolbar  elevation="2" color="white" tile class="mt-2">
                                            <v-icon>mdi-clipboard</v-icon>
                                            <v-text-field class="ml-2 overline"  value="Quantity: 65 KG" style="color:black !important;"></v-text-field>
                                        </v-toolbar>
                                        <v-toolbar  elevation="2" color="white" tile class="mt-2">
                                            <v-icon>mdi-collage</v-icon>
                                            <v-text-field class="ml-2 overline" value="UnitPrice: RS. 43" style="color:black !important;"></v-text-field>
                                        </v-toolbar>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn tile color="error" dark  @click="PurchasingDialog = false">Close</v-btn>
                            <v-btn tile color="green darken-4" dark  @click="PurchasingDialog = false">Save</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>


            </v-container>
        </v-main>
    </v-app>
</template>

<script>
    import {gmapApi} from 'vue2-google-maps';
    import {mapState} from 'vuex';
    import * as am4core from "@amcharts/amcharts4/core";
    import * as am4charts from "@amcharts/amcharts4/charts";
    import am4themes_animated from "@amcharts/amcharts4/themes/animated";
    am4core.useTheme(am4themes_animated);

    export default {
        name: "farmerProfile",
        data: () => {
            return {
                mapOptions: {
                    zoomControl: false,
                    mapTypeControl: false,
                    scaleControl: false,
                    streetViewControl: false,
                    rotateControl: false,
                    fullscreenControl: false,
                    disableDefaultUi: false
                },
                max25chars: v => v.length <= 25 || 'Input too long!',
                pagination: {},
                marker: true,
                center: {lat: 7.927079, lng: 80.761244},
                PurchasingDialog: false,
                checkoutConfirmDialog:false,
                drawer: null,
                loading: true,
                panel1: [0, 1],
                panel2: [0, 1],
                panel3: [0, 1],
                FarmerRaterating : 4.3,
                ratingBusinessRate: 3.7,
                ratingDataUpdateing: 2,

                search: '',
                headers: [
                    { text: 'Maincrop', value: 'MainCrop' },
                    { text: 'Subcrop', value: 'SubCrop' },
                    { text: 'Quantity', value: 'quantity' },
                    { text: 'Sell price', value: 'SellingPrice' },
                    { text: 'Purchase', value: 'Purchasing' },
                    { text: 'MyCart', value: 'AddtoCart' },
                ],
                desserts: [
                    {
                        MainCrop: 'Vegitable',
                        SubCrop: 'Carrot',
                        quantity: '10 KG',
                        SellingPrice: 'RS. 45.00',
                        Purchasing: 'Purchasing',
                        AddtoCart: 'AddtoCart',
                    },
                    {
                        MainCrop: 'Vegitable',
                        SubCrop: 'Beetroot',
                        quantity: '15 KG',
                        SellingPrice: 'RS. 52.00',
                        Purchasing: 'Purchasing',
                        AddtoCart: 'AddtoCart',
                    },
                ],

                headersUpdate: [
                    { text: 'Maincrop', value: 'MainCrop' },
                    { text: 'Subcrop', value: 'SubCrop' },
                    { text: 'Quantity', value: 'quantity' },
                    { text: 'Sell price', value: 'SellingPrice' },
                    { text: 'Available stock', value: 'AvailableStock' },
                ],
                dessertsUpdate: [
                    {
                        MainCrop: 'Vegitable',
                        SubCrop: 'Carrot',
                        quantity: '10 KG',
                        SellingPrice: 'RS. 45.00',
                        AvailableStock: '50 KG',
                    },
                    {
                        MainCrop: 'Vegitable',
                        SubCrop: 'Beetroot',
                        quantity: '15 KG',
                        SellingPrice: 'RS. 52.00',
                        AvailableStock: '45 kG',
                    },
                ],
            }
        },
        mounted() {
            let chart1 = am4core.create(
                this.$refs.chart1,
                am4charts.XYChart
            );
            chart1.fontSize = 10;
            chart1.logo.disabled = true;
            chart1.colors.list = [
                am4core.color("#0D47A1"),
                am4core.color("#FF9800"),
                am4core.color("#D50000"),
                am4core.color("#00897B"),
                am4core.color("#F4FF81"),
            ];

            // Add data
            chart1.data = [{
                "year": "January",
                "Carrot": 55,
                "Brinjal": 25,
                "Chillies": 70,
            }, {
                "year": "February",
                "Carrot": 42,
                "Brinjal": 37,
                "Chillies": 72,
            }, {
                "year": "March",
                "Carrot": 46,
                "Brinjal": 45,
                "Chillies": 58,
            }, {
                "year": "April",
                "Carrot": 72,
                "Brinjal": 67,
                "Chillies": 69,
            }, {
                "year": "May",
                "Carrot": 42,
                "Brinjal": 38,
                "Chillies": 76,
            }];

            // Create category axis
            let categoryAxis1 = chart1.xAxes.push(new am4charts.CategoryAxis());
            categoryAxis1.dataFields.category = "year";
            categoryAxis1.renderer.opposite = true;

            // Create value axis
            let valueAxis1 = chart1.yAxes.push(new am4charts.ValueAxis());
            valueAxis1.renderer.inversed = true;
            valueAxis1.title.text = "Price";
            valueAxis1.renderer.minLabelPosition = 0.01;

            // Create series
            let series1 = chart1.series.push(new am4charts.LineSeries());
            series1.dataFields.valueY = "Carrot";
            series1.dataFields.categoryX = "year";
            series1.name = "Carrot";
            series1.strokeWidth = 3;
            series1.bullets.push(new am4charts.CircleBullet());
            series1.tooltipText = "Carrot Price in {categoryX}: RS: {valueY}";
            series1.legendSettings.valueText = "{valueY}";
            series1.visible  = false;

            let series2 = chart1.series.push(new am4charts.LineSeries());
            series2.dataFields.valueY = "Brinjal";
            series2.dataFields.categoryX = "year";
            series2.name = 'Brinjal';
            series2.strokeWidth = 3;
            series2.bullets.push(new am4charts.CircleBullet());
            series2.tooltipText = "Brinjal Price in {categoryX}: RS: {valueY}";
            series2.legendSettings.valueText = "{valueY}";

            let series3 = chart1.series.push(new am4charts.LineSeries());
            series3.dataFields.valueY = "Chillies";
            series3.dataFields.categoryX = "year";
            series3.name = 'Chillies';
            series3.strokeWidth = 3;
            series3.bullets.push(new am4charts.CircleBullet());
            series3.tooltipText = "Chillie Price in {categoryX}: RS: {valueY} ";
            series3.legendSettings.valueText = "{valueY}";

            // Add chart cursor
            chart1.cursor = new am4charts.XYCursor();
            chart1.cursor.behavior = "zoomY";
            // Add legend
            chart1.legend = new am4charts.Legend();





            let chart = am4core.create(
                this.$refs.chart2,
                am4charts.PieChart
            );
            chart.fontSize = 10;
            chart.logo.disabled = true;
            chart.colors.list = [
                am4core.color("#0D47A1"),
                am4core.color("#FF9800"),
                am4core.color("#D50000"),
                am4core.color("#00897B"),
                am4core.color("#F4FF81"),
            ];
            // Add data
            chart.data = [{
                "country": "Vegetable",
                "litres": 850
            }, {
                "country": "Fruits",
                "litres": 101
            }, {
                "country": "Paddy",
                "litres": 300
            }];

            // Add and configure Series
            let pieSeries = chart.series.push(new am4charts.PieSeries());
            pieSeries.dataFields.value = "litres";
            pieSeries.dataFields.category = "country";
            pieSeries.innerRadius = am4core.percent(50);
            pieSeries.ticks.template.disabled = true;
            pieSeries.labels.template.disabled = true;

            let rgm = new am4core.RadialGradientModifier();
            rgm.brightnesses.push(-0.8, -0.8, -0.5, 0, - 0.5);
            pieSeries.slices.template.fillModifier = rgm;
            pieSeries.slices.template.strokeModifier = rgm;
            pieSeries.slices.template.strokeOpacity = 0.4;
            pieSeries.slices.template.strokeWidth = 0;

            chart.legend = new am4charts.Legend();
            chart.legend.position = "right";





            let chart3 = am4core.create(
                this.$refs.chart3,
                am4charts.XYChart
            );
            chart3.fontSize = 10;
            chart3.logo.disabled = true;
            chart3.colors.list = [
                am4core.color("#0D47A1"),
                am4core.color("#FF9800"),
                am4core.color("#D50000"),
                am4core.color("#00897B"),
                am4core.color("#F4FF81"),
            ];
            // Add data
            chart3.data = [{
                "year": "January",
                "income": 31563,
                "expenses": 20232
            },{
                "year": "February",
                "income": 31341,
                "expenses": 21123
            },{
                "year": "March",
                "income": 21089,
                "expenses": 41334
            },{
                "year": "April",
                "income": 20559,
                "expenses": 12110
            },{
                "year": "May",
                "income": 14100,
                "expenses": 11500
            }];

            // Create axes
            let categoryAxis = chart3.yAxes.push(new am4charts.CategoryAxis());
            categoryAxis.dataFields.category = "year";
            categoryAxis.numberFormatter.numberFormat = "# RS";
            categoryAxis.renderer.inversed = true;
            categoryAxis.renderer.grid.template.location = 0;
            categoryAxis.renderer.cellStartLocation = 0.1;
            categoryAxis.renderer.cellEndLocation = 0.9;

            let  valueAxis = chart3.xAxes.push(new am4charts.ValueAxis());
            valueAxis.renderer.opposite = true;

            // Create series
            function createSeries(field, name) {
                let series = chart3.series.push(new am4charts.ColumnSeries());
                series.dataFields.valueX = field;
                series.dataFields.categoryY = "year";
                series.name = name;
                series.columns.template.tooltipText = "{name}: [bold]{valueX}[/]";
                series.columns.template.height = am4core.percent(100);
                series.sequencedInterpolation = true;

                let valueLabel = series.bullets.push(new am4charts.LabelBullet());
                valueLabel.label.text = "{valueX}";
                valueLabel.label.horizontalCenter = "left";
                valueLabel.label.dx = 10;
                valueLabel.label.hideOversized = false;
                valueLabel.label.truncate = false;

                let categoryLabel = series.bullets.push(new am4charts.LabelBullet());
                categoryLabel.label.text = "{name}";
                categoryLabel.label.horizontalCenter = "right";
                categoryLabel.label.dx = -10;
                categoryLabel.label.fill = am4core.color("#fff");
                categoryLabel.label.hideOversized = false;
                categoryLabel.label.truncate = false;
            }

            createSeries("income", "");
            createSeries("expenses", "");
            chart3.legend = new am4charts.Legend();
            chart3.legend.position = "bottom";

        },



        methods: {
            redirectToRegistration(){
                window.location.href = '/Registration';
            },
            redirectToLogin(){
                window.location.href = '/apilogin';
            },
            redirectToHome(){
                window.location.href = '/';
            },
            redirectToAuth(){
                window.location.href = '/authSet';
            },
            redirectTofarmerRegistration(){
                window.location.href = '/farmerRegistration';
            },
            redirectToAvailableStock(){
                window.location.href = '/availableStockDetails';
            },
            redirectAnalysis(){
                window.location.href = '/analysis';
            },


            save () {
                this.snack = true
                this.snackColor = 'success'
                this.snackText = 'Data saved'
            },
            cancel () {
                this.snack = true
                this.snackColor = 'error'
                this.snackText = 'Canceled'
            },
            open () {
                this.snack = true
                this.snackColor = 'info'
                this.snackText = 'Dialog opened'
            },
            close () {
                console.log('Dialog closed')
            },
        },
    }
</script>

<style >
    .v-sheet--offset {
        top: -24px;
        position: relative;
    }
    .LineChart_weatherData {
        width: 100%;
        height: 295px;
    }
    .text-start{
        font-size: 10px !important;
        font-weight: bold !important;
        color: black !important;
    }
</style>
