<template>
    <v-app id="inspire">
        <DashboardPanel/>
        <div>
            <router-view></router-view>
        </div>
    </v-app>
</template>

<script>
    import DashboardPanel from "../components/Dashboard";
    export default {
        name: "mainapp",
        components: {
            DashboardPanel,
        },
        data: () => {
            return {
                drawer: null,
            }
        },
        methods: {
            redirectToRegistration(){
                window.location.href = '/Registration';
            },
            redirectToLogin(){
                window.location.href = '/apilogin';
            },
            redirectToHome(){
                window.location.href = '/';
            },
        },
    };
</script>
