<template>
    <v-app id="inspire">
        <v-card  style="border-radius: 0px; !important;" class="mx-auto overflow-hidden">
            <v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp" app  light color="white">
                <v-app-bar-nav-icon @click.stop="drawer = !drawer"  x-large></v-app-bar-nav-icon>
                <v-toolbar-title class="overline" style="font-size: 16px !important;">AGROBIZZ</v-toolbar-title>
                <v-spacer></v-spacer>
            </v-app-bar>
        </v-card>

        <v-card outlined >
            <v-navigation-drawer  v-model="drawer" :clipped="$vuetify.breakpoint.lgAndUp" app>
                <v-row justify="center">
                    <v-col cols="11" md="11">
                        <v-toolbar elevation="2" color="white" tile>
                            <v-toolbar-title class="ml-5 overline" style="font-size: 10px !important;" >Welcome to Agrobizz</v-toolbar-title>
                        </v-toolbar>
                        <v-card tile>
                            <v-row justify="center">
                                <v-avatar size="180" >
                                    <img src="img/agrobizz_logo.png">
                                </v-avatar>
                            </v-row>
                        </v-card>
                    </v-col>
                </v-row>

                <v-row justify="center">
                    <v-col cols="11" md="11">
                        <v-toolbar @click="redirectToHome()" elevation="2" color="white" tile>
                            <v-icon>mdi-home-circle</v-icon>
                            <v-toolbar-title class="ml-2 overline" style="font-size: 0.65rem !important;">My Home</v-toolbar-title>
                        </v-toolbar>
                    </v-col>

                    <v-col cols="11" md="11">
                        <v-toolbar @click="redirectToRegistration()" elevation="2" color="white" tile>
                            <v-icon>mdi-account-circle</v-icon>
                            <v-toolbar-title class="ml-2 overline" style="font-size: 0.65rem !important;">Registration</v-toolbar-title>
                        </v-toolbar>
                    </v-col>

                    <v-col cols="11" md="11">
                        <v-toolbar @click="redirectTofarmerRegistration()" elevation="2" color="white" tile>
                            <v-icon>mdi-account-circle</v-icon>
                            <v-toolbar-title class="ml-2 overline" style="font-size: 0.65rem !important;">Farmer Registration</v-toolbar-title>
                        </v-toolbar>
                    </v-col>

                    <v-col cols="11" md="11">
                        <v-toolbar @click="redirectToLogin()" elevation="2" color="white" tile>
                            <v-icon>mdi-login-variant</v-icon>
                            <v-toolbar-title class="ml-2 overline" style="font-size: 0.65rem !important;">Sign in</v-toolbar-title>
                        </v-toolbar>
                    </v-col>
                </v-row>
            </v-navigation-drawer>
        </v-card>
        <v-main class="white">
            <v-container>
                <v-app-bar color="white" dense >
                    <v-icon>mdi-checkbox-marked-circle</v-icon>&nbsp;&nbsp;
                    <v-toolbar-title class="overline" style="font-size: 14px !important;">registration</v-toolbar-title>
                    <v-spacer></v-spacer>
                </v-app-bar>

                <v-row>
                    <v-col cols="12" md="12">
                        <v-form>
                            <v-card tile class="mx-auto"  elevation="5">
                                <v-container>
                                    <v-row>
                                        <v-col cols="12" md="6">
                                            <v-text-field  prepend-icon="mdi-checkbox-multiple-marked-outline" clearable v-model="firstname" label="First name" required></v-text-field>
                                            <v-text-field  prepend-icon="mdi-email" clearable v-model="email" label="Email" required></v-text-field>
                                            <v-text-field  prepend-icon="mdi-blur-off" clearable v-model="district" label="District" required></v-text-field>
                                            <v-text-field  prepend-icon="mdi-barcode-scan" clearable v-model="postalCode" label="Postal code" required></v-text-field>
                                        </v-col>


                                        <v-col cols="12" md="6">
                                            <v-text-field prepend-icon="mdi-checkbox-multiple-marked-outline" clearable v-model="lastname" label="Last name" required></v-text-field>
                                            <v-text-field prepend-icon="mdi-cellphone-android" clearable v-model="mobile" label="Mobile" required></v-text-field>
                                            <v-text-field prepend-icon="mdi-home-map-marker" clearable v-model="city" label="City" required></v-text-field>
                                            <v-text-field prepend-icon="mdi-home-assistant" clearable v-model="postalTown" label="Postal town" required></v-text-field>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-card>

                            <v-card tile class="mx-auto mt-5"  elevation="5">
                                <v-container>
                                    <v-row>
                                        <v-col cols="12" md="6">
                                            <v-text-field
                                                clearable
                                                :prepend-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                                                :rules="[rules.required, rules.min]"
                                                :type="show1 ? 'text' : 'password'"
                                                name="password"
                                                label="Password"
                                                hint="At least 8 characters"
                                                value=""
                                                class="input-group--focused"
                                                @click:prepend="show1 = !show1"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" md="6">
                                            <v-text-field
                                                clearable
                                                :prepend-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
                                                :rules="[rules.required, rules.min]"
                                                :type="show2 ? 'text' : 'password'"
                                                name="ConfirmPassword"
                                                label="Confirm password"
                                                hint="At least 8 characters"
                                                value=""
                                                class="input-group--focused"
                                                @click:prepend="show2 = !show2"></v-text-field>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-card>

                            <v-card tile class="mx-auto mt-5"  elevation="5">
                                <v-container>
                                    <v-row>
                                        <v-col cols="12" md="6">
                                            <v-select clearable prepend-icon="mdi-account-circle" v-model="selectUser" :items="itemsUser" label="Select user role" required></v-select>
                                            <v-file-input clearable v-model="businessResgistration" accept="image/*" label="Attach business registration documents"></v-file-input>
                                        </v-col>
                                        <v-col cols="12" md="6">
                                            <v-file-input clearable v-model="nicUpload" accept="image/*" label="Attach your nic copy"></v-file-input>
                                            <v-select clearable prepend-icon="mdi-logout-variant" v-model="selectlookingFor" :items="lookingFor" label="What are you looking from the application?" required></v-select>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-card>

                            <v-card tile class="mx-auto mt-5"  elevation="5">
                                <v-container>
                                    <v-row>
                                        <v-col cols="12" md="12">
                                            <v-btn tile color="success">
                                                <v-icon left>mdi-pencil</v-icon>Save
                                            </v-btn>
                                            <v-btn tile color="error">
                                                <v-icon left>mdi-delete-circle</v-icon>Clear
                                            </v-btn>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-card>
                        </v-form>
                    </v-col>
                </v-row>

            </v-container>
        </v-main>
    </v-app>
</template>

<script>

    export default {
        name: "register",

        data: () => ({
            businessResgistration:null,
            nicUpload:null,
            postalCode:'',
            district:'',
            postalTown:'',
            drawer: null,
            firstname: '',
            lastname:'',
            mobile:'',
            city:'',
            email: '',
            selectUser: null,
            selectlookingFor: null,
            itemsUser: [
                'Buyer',
                'Seller',
                'Agent',
                'Transport',
                'Processor',
            ],
            lookingFor: [
                'Byying prices',
                'Selling prices',
                'Direct buy',
                'Direct sell',
                'Public retail prices',
                'Public wholesale price data',
                'Trading history - long duration',
            ],
            show1: false,
            show2: false,
            password: 'Password',
            rules: {
                required: value => !!value || 'Required.',
                min: v => v.length >= 8 || 'Min 8 characters',
            },
        }),
        methods: {
            redirectToRegistration(){
                window.location.href = '/Registration';
            },
            redirectToLogin(){
                window.location.href = '/apilogin';
            },
            redirectToHome(){
                window.location.href = '/';
            },
            redirectTofarmerRegistration(){
                window.location.href = '/farmerRegistration';
            },
        },
    }
</script>

<style>
    .v-label {
        font-size: 0.9em !important;
    }
</style>
