<template>
    <v-app id="inspire">
        <v-card  style="border-radius: 0px; !important;" class="mx-auto overflow-hidden">
            <v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp" app  light color="white">
                <v-app-bar-nav-icon @click.stop="drawer = !drawer"  x-large></v-app-bar-nav-icon>
                <v-toolbar-title class="overline" style="font-weight: bold !important;font-size: 16px !important;">AGROBIZZ</v-toolbar-title>
                <v-spacer></v-spacer>
            </v-app-bar>
        </v-card>

        <v-card outlined >
            <v-navigation-drawer  v-model="drawer" :clipped="$vuetify.breakpoint.lgAndUp" app>
                <v-row justify="center">
                    <v-col cols="11" md="11">
                        <v-toolbar elevation="2" color="white" tile>
                            <v-toolbar-title class="ml-2 overline" style="color:black !important;font-size: 0.75rem !important;" >Welcome to Agrobizz</v-toolbar-title>
                        </v-toolbar>
                        <v-card tile>
                            <v-row justify="center">
                                <v-avatar size="180" >
                                    <img src="img/agrobizz_logo.png">
                                </v-avatar>
                            </v-row>
                        </v-card>
                    </v-col>
                </v-row>

                <v-row justify="center">
                    <v-col cols="11" md="11">
                        <v-toolbar @click="redirectToHome()" elevation="2" color="white" tile>
                            <v-icon>mdi-home-circle</v-icon>
                            <v-toolbar-title class="ml-2 overline" style="font-size: 0.75rem !important;">My Home</v-toolbar-title>
                        </v-toolbar>
                    </v-col>

                    <v-col cols="11" md="11">
                        <v-toolbar @click="redirectAnalysis()" elevation="2" color="white" tile>
                            <v-icon>mdi-ruler</v-icon>
                            <v-toolbar-title class="ml-2 overline" style="font-size: 0.65rem !important;">Analysis</v-toolbar-title>
                        </v-toolbar>
                    </v-col>

                    <v-col cols="11" md="11">
                        <v-toolbar @click="redirectToLogin()" elevation="2" color="white" tile>
                            <v-icon>mdi-login-variant</v-icon>
                            <v-toolbar-title class="ml-2 overline" style="font-size: 0.75rem !important;">Sign in</v-toolbar-title>
                        </v-toolbar>
                    </v-col>
                </v-row>
            </v-navigation-drawer>
        </v-card>
        <v-main class="white">
            <v-container>
                <v-row>
                    <v-col cols="12" md="12">
                        <v-app-bar color="white" dense >
                            <v-btn icon>
                                <v-icon>mdi-checkbox-marked-circle</v-icon>
                            </v-btn>
                            <v-toolbar-title class="overline" style="font-size: 12px !important;font-weight: bold !important;">Rice categories</v-toolbar-title>
                            <v-spacer></v-spacer>
                        </v-app-bar>
                    </v-col>
                </v-row>

                <v-row>
                    <v-col cols="12" md="3">
                        <v-hover v-slot="{ hover }"  open-delay="200">
                            <v-card @click="redirectToAuth()" shaped class="mx-auto"    :elevation="hover ? 16 : 3" max-width="100%">
                                <v-img src="img/rice/ricered.jpg" height="200px"></v-img>
                                <v-card-text class="overline" style="font-size: 14px !important;">
                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon style="font-weight: bold !important;">mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            Red rice
                                        </v-toolbar-title>
                                    </v-system-bar>

                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon>mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            රතු සහල්
                                        </v-toolbar-title>
                                    </v-system-bar>

                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon>mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            சிவப்பு அரிசி
                                        </v-toolbar-title>
                                    </v-system-bar>
                                </v-card-text>
                                <v-card-subtitle class="overline" style="font-weight: normal !important;font-size: 9px !important;">
                                    <v-badge  bordered color="error" content="02" overlap>
                                        <v-avatar size="30">
                                            <v-img src="img/agrobizz_logo.png"></v-img>
                                        </v-avatar>
                                    </v-badge> &nbsp;&nbsp;Available stocks
                                    <v-progress-linear color="green darken-2" height="2"  bottom indeterminate></v-progress-linear>
                                </v-card-subtitle>
                            </v-card>
                        </v-hover>
                    </v-col>

                    <v-col cols="12" md="3">
                        <v-hover v-slot="{ hover }" open-delay="200">
                            <v-card @click="redirectToAuth()" shaped class="mx-auto" :elevation="hover ? 16 : 3" max-width="100%">
                                <v-img src="img/rice/samba.jpg" height="200px"></v-img>
                                <v-card-text class="overline" style="font-size: 14px !important;">
                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon style="font-weight: bold !important;">mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            Samba rice
                                        </v-toolbar-title>
                                    </v-system-bar>

                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon>mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            සම්බා සහල්
                                        </v-toolbar-title>
                                    </v-system-bar>

                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon>mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            சம்பா அரிசி
                                        </v-toolbar-title>
                                    </v-system-bar>
                                </v-card-text>
                                <v-card-subtitle class="overline" style="font-weight: normal !important;font-size: 9px !important;">
                                    <v-badge  bordered color="error" content="03" overlap>
                                        <v-avatar size="30">
                                            <v-img src="img/agrobizz_logo.png"></v-img>
                                        </v-avatar>
                                    </v-badge> &nbsp;&nbsp;Available stocks
                                    <v-progress-linear color="green darken-2" height="2"  bottom indeterminate></v-progress-linear>
                                </v-card-subtitle>
                            </v-card>
                        </v-hover>
                    </v-col>


                    <v-col cols="12" md="3">
                        <v-hover v-slot="{ hover }" open-delay="200">
                            <v-card @click="redirectToAuth()" shaped class="mx-auto" :elevation="hover ? 16 : 3" max-width="100%">
                                <v-img src="img/rice/Suduheenati.jpg" height="200px"></v-img>
                                <v-card-text class="overline" style="font-size: 14px !important;">
                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon style="font-weight: bold !important;">mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            Sudu heenati rice
                                        </v-toolbar-title>
                                    </v-system-bar>

                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon>mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            සුදු හීනති සහල්
                                        </v-toolbar-title>
                                    </v-system-bar>

                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon>mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            சுடு ஹீனாட்டி அரிசி
                                        </v-toolbar-title>
                                    </v-system-bar>
                                </v-card-text>
                                <v-card-subtitle class="overline" style="font-weight: normal !important;font-size: 9px !important;">
                                    <v-badge  bordered color="error" content="18" overlap>
                                        <v-avatar size="30">
                                            <v-img src="img/agrobizz_logo.png"></v-img>
                                        </v-avatar>
                                    </v-badge> &nbsp;&nbsp;Available stocks
                                    <v-progress-linear color="green darken-2" height="2"  bottom indeterminate></v-progress-linear>
                                </v-card-subtitle>
                            </v-card>
                        </v-hover>
                    </v-col>

                    <v-col cols="12" md="3">
                        <v-hover v-slot="{ hover }" open-delay="200">
                            <v-card @click="redirectToAuth()" shaped class="mx-auto" :elevation="hover ? 16 : 3" max-width="100%">
                                <v-img src="img/rice/Suwandel.jpg" height="200px"></v-img>
                                <v-card-text class="overline" style="font-size: 14px !important;">
                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon style="font-weight: bold !important;">mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            Suwandeli rice
                                        </v-toolbar-title>
                                    </v-system-bar>

                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon>mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            සුවන්දෙල් සහල්
                                        </v-toolbar-title>
                                    </v-system-bar>

                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon>mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            சுவாண்டெல் அரிசி
                                        </v-toolbar-title>
                                    </v-system-bar>
                                </v-card-text>
                                <v-card-subtitle class="overline" style="font-weight: normal !important;font-size: 9px !important;">
                                    <v-badge  bordered color="error" content="14" overlap>
                                        <v-avatar size="30">
                                            <v-img src="img/agrobizz_logo.png"></v-img>
                                        </v-avatar>
                                    </v-badge> &nbsp;&nbsp;Available stocks
                                    <v-progress-linear color="green darken-2" height="2"  bottom indeterminate></v-progress-linear>
                                </v-card-subtitle>
                            </v-card>
                        </v-hover>
                    </v-col>
                </v-row>






                <v-row>
                    <v-col cols="12" md="3">
                        <v-hover v-slot="{ hover }" open-delay="200">
                            <v-card @click="redirectToAuth()" shaped class="mx-auto" :elevation="hover ? 16 : 3" max-width="100%">
                                <v-img src="img/rice/Madathawalu.jpg" height="200px"></v-img>
                                <v-card-text class="overline" style="font-size: 14px !important;">
                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon style="font-weight: bold !important;">mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            Madathawalu rice
                                        </v-toolbar-title>
                                    </v-system-bar>

                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon>mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            මාදවළු සහල්
                                        </v-toolbar-title>
                                    </v-system-bar>

                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon>mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            மடதாவலு அரிசி
                                        </v-toolbar-title>
                                    </v-system-bar>
                                </v-card-text>
                                <v-card-subtitle class="overline" style="font-weight: normal !important;font-size: 9px !important;">
                                    <v-badge  bordered color="error" content="09" overlap>
                                        <v-avatar size="30">
                                            <v-img src="img/agrobizz_logo.png"></v-img>
                                        </v-avatar>
                                    </v-badge> &nbsp;&nbsp;Available stocks
                                    <v-progress-linear color="green darken-2" height="2"  bottom indeterminate></v-progress-linear>
                                </v-card-subtitle>
                            </v-card>
                        </v-hover>
                    </v-col>

                    <v-col cols="12" md="3">
                        <v-hover v-slot="{ hover }" open-delay="200">
                            <v-card @click="redirectToAuth()" shaped class="mx-auto" :elevation="hover ? 16 : 3" max-width="100%">
                                <v-img src="img/rice/Kuruluthuda.jpg" height="200px"></v-img>
                                <v-card-text class="overline" style="font-size: 14px !important;">
                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon style="font-weight: bold !important;">mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            Kuruluthuda rice
                                        </v-toolbar-title>
                                    </v-system-bar>

                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon>mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            කුරුලුතුද සහල්
                                        </v-toolbar-title>
                                    </v-system-bar>

                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon>mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            குருலுத்துடா அரிசி
                                        </v-toolbar-title>
                                    </v-system-bar>
                                </v-card-text>
                                <v-card-subtitle class="overline" style="font-weight: normal !important;font-size: 9px !important;">
                                    <v-badge  bordered color="error" content="02" overlap>
                                        <v-avatar size="30">
                                            <v-img src="img/agrobizz_logo.png"></v-img>
                                        </v-avatar>
                                    </v-badge> &nbsp;&nbsp;Available stocks
                                    <v-progress-linear color="green darken-2" height="2"  bottom indeterminate></v-progress-linear>
                                </v-card-subtitle>
                            </v-card>
                        </v-hover>
                    </v-col>

                    <v-col cols="12" md="3">
                        <v-hover v-slot="{ hover }" open-delay="200">
                            <v-card @click="redirectToAuth()" shaped class="mx-auto" :elevation="hover ? 16 : 3" max-width="100%">
                                <v-img src="img/rice/keeri-samba.jpg" height="200px"></v-img>
                                <v-card-text class="overline" style="font-size: 14px !important;">
                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon style="font-weight: bold !important;">mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            Keeri samba rice
                                        </v-toolbar-title>
                                    </v-system-bar>

                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon>mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            කීරි සම්බා සහල්
                                        </v-toolbar-title>
                                    </v-system-bar>

                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon>mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            கீரி சம்பா அரிசி
                                        </v-toolbar-title>
                                    </v-system-bar>
                                </v-card-text>
                                <v-card-subtitle class="overline" style="font-weight: normal !important;font-size: 9px !important;">
                                    <v-badge  bordered color="error" content="12" overlap>
                                        <v-avatar size="30">
                                            <v-img src="img/agrobizz_logo.png"></v-img>
                                        </v-avatar>
                                    </v-badge> &nbsp;&nbsp;Available stocks
                                    <v-progress-linear color="green darken-2" height="2"  bottom indeterminate></v-progress-linear>
                                </v-card-subtitle>
                            </v-card>
                        </v-hover>
                    </v-col>

                    <v-col cols="12" md="3">
                        <v-hover v-slot="{ hover }" open-delay="200">
                            <v-card @click="redirectToAuth()" shaped class="mx-auto" :elevation="hover ? 16 : 3" max-width="100%">
                                <v-img src="img/rice/Kaluheenati.jpg" height="200px"></v-img>
                                <v-card-text class="overline" style="font-size: 14px !important;">
                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon style="font-weight: bold !important;">mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            Kaluheenati rice
                                        </v-toolbar-title>
                                    </v-system-bar>

                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon>mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            කළුහීනති සහල්
                                        </v-toolbar-title>
                                    </v-system-bar>

                                    <v-system-bar solo dense elevation="2" color="white" tile >
                                        <v-icon>mdi-format-line-spacing</v-icon>
                                        <v-toolbar-title class="ml-2 overline"  style="font-weight: bold !important;color:black !important;">
                                            கலுஹீனதி அரிசி
                                        </v-toolbar-title>
                                    </v-system-bar>
                                </v-card-text>
                                <v-card-subtitle class="overline" style="font-weight: normal !important;font-size: 9px !important;">
                                    <v-badge  bordered color="error" content="18" overlap>
                                        <v-avatar size="30">
                                            <v-img src="img/agrobizz_logo.png"></v-img>
                                        </v-avatar>
                                    </v-badge> &nbsp;&nbsp;Available stocks
                                    <v-progress-linear color="green darken-2" height="2"  bottom indeterminate></v-progress-linear>
                                </v-card-subtitle>
                            </v-card>
                        </v-hover>
                    </v-col>
                </v-row>


            </v-container>
        </v-main>
    </v-app>

</template>

<script>
    export default {
        name: "riceCategory",
        data: () => {
            return {
                drawer: null,
                loading: true,
            }
        },
        methods: {
            redirectToRegistration(){
                window.location.href = '/Registration';
            },
            redirectToLogin(){
                window.location.href = '/apilogin';
            },
            redirectToHome(){
                window.location.href = '/';
            },
            redirectToAuth(){
                window.location.href = '/authSet';
            },
            redirectTofarmerRegistration(){
                window.location.href = '/farmerRegistration';
            },
            redirectToAvailableStock(){
                window.location.href = '/availableStockDetails';
            },
            redirectAnalysis(){
                window.location.href = '/analysis';
            }
        },
    }
</script>

<style scoped>

</style>
