<template>
    <v-app id="inspire">
        <v-card  style="border-radius: 0px; !important;" class="mx-auto overflow-hidden">
            <v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp" app  light color="white">
                <v-app-bar-nav-icon @click.stop="drawer = !drawer"  x-large></v-app-bar-nav-icon>
                <v-toolbar-title class="overline" style="font-weight: bold !important;font-size: 16px !important;">AGROBIZZ</v-toolbar-title>
                <v-spacer></v-spacer>
            </v-app-bar>
        </v-card>

        <v-card outlined >
            <v-navigation-drawer  v-model="drawer" :clipped="$vuetify.breakpoint.lgAndUp" app>
                <v-row justify="center">
                    <v-col cols="11" md="11">
                        <v-toolbar elevation="2" color="white" tile>
                            <v-toolbar-title class="ml-2 overline" style="color:black !important;font-size: 0.75rem !important;" >Welcome to Agrobizz</v-toolbar-title>
                        </v-toolbar>
                        <v-card tile>
                            <v-row justify="center">
                                <v-avatar size="180" >
                                    <img src="img/agrobizz_logo.png">
                                </v-avatar>
                            </v-row>
                        </v-card>
                    </v-col>
                </v-row>

                <v-row justify="center">
                    <v-col cols="11" md="11">
                        <v-toolbar @click="redirectToHome()" elevation="2" color="white" tile>
                            <v-icon>mdi-home-circle</v-icon>
                            <v-toolbar-title class="ml-2 overline" style="font-size: 0.75rem !important;">My Home</v-toolbar-title>
                        </v-toolbar>
                    </v-col>

                    <v-col cols="11" md="11">
                        <v-toolbar @click="redirectAnalysis()" elevation="2" color="white" tile>
                            <v-icon>mdi-ruler</v-icon>
                            <v-toolbar-title class="ml-2 overline" style="font-size: 0.65rem !important;">Analysis</v-toolbar-title>
                        </v-toolbar>
                    </v-col>

                    <v-col cols="11" md="11">
                        <v-toolbar @click="redirectToLogin()" elevation="2" color="white" tile>
                            <v-icon>mdi-login-variant</v-icon>
                            <v-toolbar-title class="ml-2 overline" style="font-size: 0.75rem !important;">Sign in</v-toolbar-title>
                        </v-toolbar>
                    </v-col>
                </v-row>
            </v-navigation-drawer>
        </v-card>
        <v-main class="white">
            <v-container>
                <v-row>
                    <v-col cols="12" md="12">
                        <v-app-bar color="white" dense >
                            <v-icon>mdi-checkbox-marked-circle</v-icon>&nbsp;&nbsp;
                            <v-toolbar-title class="overline" style="font-weight: bold !important;font-size: 12px !important;">Available stock details</v-toolbar-title>
                            <v-spacer></v-spacer>
                        </v-app-bar>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12" md="3">
                        <v-hover v-slot="{ hover }" open-delay="200">
                            <v-card tile class="rounded-b-xl rounded-t-xl mx-auto" :elevation="hover ? 16 : 3" max-width="100%">
                                <v-img src="img/category/chilles.jpg" height="138px"></v-img>
                            </v-card>
                        </v-hover>
                    </v-col>
                    <v-col cols="12" md="9">
                        <v-hover v-slot="{ hover }" open-delay="200">
                            <v-card class="rounded-b-xl rounded-t-xl mx-auto" :elevation="hover ? 16 : 3" max-width="100%">
                                <v-timeline align-top dense>
                                    <v-timeline-item  small color="green darken-4">
                                        <div class="overline">
                                            <span style="font-weight: bold !important;"><v-icon>mdi-format-line-spacing</v-icon> Product: Chillies</span>
                                        </div>
                                    </v-timeline-item>
                                    <v-timeline-item  small color="green darken-4">
                                        <div class="overline">
                                            <span style="font-weight: bold !important;"><v-icon>mdi-format-line-spacing</v-icon>Three Available stock now</span>
                                        </div>
                                    </v-timeline-item>
                                </v-timeline>
                            </v-card>
                        </v-hover>
                    </v-col>
                </v-row>

                <v-row>
                    <v-col cols="12" md="4">
                        <v-hover v-slot="{ hover }" open-delay="200">
                            <v-card @click="redirectToFarmerProfile()" shaped class="mx-auto" :elevation="hover ? 16 : 3" max-width="100%">
                                <v-img height="200px" src="img/Farmers/farmer1.jpg"></v-img>
                                <v-card-text>
                                    <div class="font-weight-bold ml-8 mb-2">
                                        <p class="ml-3 overline" style="color: black !important;"><strong>Sugath perera</strong></p>
                                    </div>
                                    <v-timeline align-top dense>
                                        <v-timeline-item  small color="green darken-4">
                                            <div class="overline">
                                                <span style="color: black !important;">Location: Anuradhapura</span>
                                            </div>
                                        </v-timeline-item>

                                        <v-timeline-item  small color="green darken-4">
                                            <div class="overline">
                                                <span style="color: black !important;">DSD: Thalawa</span>
                                            </div>
                                        </v-timeline-item>

                                        <v-timeline-item  small color="green darken-4">
                                            <div class="overline">
                                                <span style="color: black !important;">GND: Eppawala</span>
                                            </div>
                                        </v-timeline-item>

                                        <v-timeline-item  small color="green darken-4">
                                            <div class="overline">
                                                <span style="color: black !important;">Available stock:60 KG </span>
                                            </div>
                                        </v-timeline-item>

                                        <v-timeline-item  small color="green darken-4">
                                            <div class="overline">
                                                <span style="color: black !important;">UnitPrice:RS.60</span>
                                            </div>
                                        </v-timeline-item>
                                    </v-timeline>
                                </v-card-text>

                            </v-card>
                        </v-hover>
                    </v-col>


                    <v-col cols="12" md="4">
                        <v-hover v-slot="{ hover }" open-delay="200">
                            <v-card @click="redirectToFarmerProfile()" shaped class="mx-auto" :elevation="hover ? 16 : 3" max-width="100%">
                                <v-img height="200px" src="img/Farmers/farmer2.jpg"></v-img>
                                <v-card-text>
                                    <div class="font-weight-bold ml-8 mb-2">
                                        <p class="ml-3 overline" style="color: black !important;"><strong>Somapala bandara</strong></p>
                                    </div>
                                    <v-timeline align-top dense>
                                        <v-timeline-item  small color="green darken-4">
                                            <div class="overline">
                                                <span style="color: black !important;">Location: Galle</span>
                                            </div>
                                        </v-timeline-item>

                                        <v-timeline-item  small color="green darken-4">
                                            <div class="overline">
                                                <span style="color: black !important;">DSD: Akmeemana</span>
                                            </div>
                                        </v-timeline-item>

                                        <v-timeline-item  small color="green darken-4">
                                            <div class="overline">
                                                <span style="color: black !important;">GND: Yakkalmulla</span>
                                            </div>
                                        </v-timeline-item>

                                        <v-timeline-item  small color="green darken-4">
                                            <div class="overline">
                                                <span style="color: black !important;">Available stock:90 KG </span>
                                            </div>
                                        </v-timeline-item>

                                        <v-timeline-item  small color="green darken-4">
                                            <div class="overline">
                                                <span style="color: black !important;">UnitPrice:RS.67</span>
                                            </div>
                                        </v-timeline-item>
                                    </v-timeline>
                                </v-card-text>

                            </v-card>
                        </v-hover>
                    </v-col>


                    <v-col cols="12" md="4">
                        <v-hover v-slot="{ hover }" open-delay="200">
                            <v-card @click="redirectToFarmerProfile()" shaped class="mx-auto" :elevation="hover ? 16 : 3" max-width="100%">
                                <v-img height="200px" src="img/Farmers/farmer3.jpg"></v-img>
                                <v-card-text>
                                    <div class="font-weight-bold ml-8 mb-2">
                                        <p class="ml-3 overline" style="color: black !important;"><strong>Nimal de Silva</strong></p>
                                    </div>
                                    <v-timeline align-top dense>
                                        <v-timeline-item  small color="green darken-4">
                                            <div class="overline">
                                                <span style="color: black !important;">Location: Polonnaruwa</span>
                                            </div>
                                        </v-timeline-item>

                                        <v-timeline-item  small color="green darken-4">
                                            <div class="overline">
                                                <span style="color: black !important;">DSD: Higurakgoda</span>
                                            </div>
                                        </v-timeline-item>

                                        <v-timeline-item  small color="green darken-4">
                                            <div class="overline">
                                                <span style="color: black !important;">GND: Girithale</span>
                                            </div>
                                        </v-timeline-item>

                                        <v-timeline-item  small color="green darken-4">
                                            <div class="overline">
                                                <span style="color: black !important;">Available stock:47 KG </span>
                                            </div>
                                        </v-timeline-item>

                                        <v-timeline-item  small color="green darken-4">
                                            <div class="overline">
                                                <span style="color: black !important;">UnitPrice:RS.57</span>
                                            </div>
                                        </v-timeline-item>
                                    </v-timeline>
                                </v-card-text>

                            </v-card>
                        </v-hover>
                    </v-col>
                </v-row>



            </v-container>
        </v-main>
    </v-app>
</template>

<script>
    export default {
        name: "availableStockDetails",
        data: () => {
            return {
                drawer: null,
                loading: true,

            }
        },
        methods: {
            redirectToRegistration(){
                window.location.href = '/Registration';
            },
            redirectToLogin(){
                window.location.href = '/apilogin';
            },
            redirectToHome(){
                window.location.href = '/';
            },
            redirectToAuth(){
                window.location.href = '/authSet';
            },
            redirectTofarmerRegistration(){
                window.location.href = '/farmerRegistration';
            },
            redirectToAvailableStock(){
                window.location.href = '/availableStockDetails';
            },
            redirectToFarmerProfile(){
                window.location.href = '/farmerProfile';
            },
            redirectAnalysis(){
                window.location.href = '/analysis';
            }
        },
    }
</script>

<style scoped>

</style>
